<mat-card class="example-card">

  <a class="fw-bold m-4 mt-5  text-dark text-decoration-none " [routerLink]="['/search_vin']">
    <i class="fas fa-arrow-left"></i> volver
  </a>
  <mat-card-header>      
    <mat-card-title>Cargar imagenes</mat-card-title>      
  </mat-card-header>    

  <mat-card-content class="m-5">
      <div class="avatar-edit">
          <label for="images" class="drop-container">
              <span class="drop-title">Carga los archivos aqui</span>
              o
              <input type="file" id="picture" accept=".png, .jpg, .jpeg, .webp" multiple (change)="selectFiles($event)" required>
          </label>            
      </div>
  </mat-card-content>
  <mat-card-actions class="mx-auto">
    <button mat-button class="btn abcars-background-color-blue mx-2" (click)="subirFotos()">Subir</button>
    <a mat-button class="btn abcars-background-color-black" [routerLink]="['/home']">Cancelar</a>
  </mat-card-actions>
  <div class="container">
    <div>
      <h1>Fotos guardadas</h1>
    </div>
    <div class="containerss">
      <div class="card" *ngFor="let image of images">
        <img src="https://sandbox.abcars.mx/abcars-backend/api/getSetImage/{{image}}/{{data2.vin}}" alt="Descripción de la imagen">
      </div>
    </div>
    <div>
      <img src="https://www.dimars.com.mx/assets/images/swipe.gif" style="width: 50px; display: block; margin: auto;">
    </div>
  </div>

</mat-card>