<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <div class="row">
                <h1 class="fs-3 fw-bold mb-4 text-center mx-auto">Recupera tu uenta</h1>
                <div class="col-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row mb-2">
                            <div class="col-8 col-md-4 mx-auto">
                                <mat-form-field appearance="outline">
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input matInput type="email" placeholder="a@b.c" formControlName="email" required>
                                    <mat-hint class="text-danger" *ngIf="emailInvalid">Ingrese su correo electrónico.</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8 col-md-4 mx-auto text-center mt-4">
                                <button mat-raised-button type="submit" class="btn abcars-background-color px-4 py-2 rounded-pill text-dark" [disabled]="form.invalid || spinner">
                                    <span *ngIf="!spinner">Recuperar</span>
                                    <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                    
                                </button>
                                <p class="form-text mt-3">¿Ya tienes cuenta? <a class="abcars-color-hover text-decoration-none" [routerLink]="['/auth/iniciar-sesion']">Inicia Sesión</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>