<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <!-- Header -->
            <div class="row">
                <div class="col-12">
                    <h4 class="fs-4 fw-bold text-truncate">Marcas</h4>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" [routerLink]="['/admin/developer']">Overview</li>
                            <li class="breadcrumb-item active" aria-current="page">Marcas</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- Button Create -->
            <div class="row">
                <div class="col-11">
                    <mat-form-field appearance="outline">
                        <mat-label>Buscar...</mat-label>
                        <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Luke Skywalker" #input> -->
                        <input matInput (keyup.enter)="filter()" #txtFilter placeholder="Luke Skywalker" #input>
                    </mat-form-field>
                </div>

                <div class="col-1 py-3">                    
                    <mat-icon [routerLink]="['/admin/developer/brands/create']"><i class="fi fi-rr-add"></i></mat-icon>
                </div>
            </div>

            <!-- Datatable -->
            <div class="row">
                <div class="col-12">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                            </ng-container>

                            <!-- Description Column -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                                <td mat-cell *matCellDef="let row">{{ row.description }}</td>
                            </ng-container>

                            <!-- Location Column -->
                            <ng-container matColumnDef="location">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Locación</th>
                                <td mat-cell *matCellDef="let row">{{ row.location }}</td>
                            </ng-container>

                            <!-- Contact Column -->
                            <ng-container matColumnDef="contact">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacto</th>
                                <td mat-cell *matCellDef="let row">{{ row.contact }}</td>
                            </ng-container>

                            <!-- Picture Column -->
                            <ng-container matColumnDef="picture">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
                                <td mat-cell *matCellDef="let row">
                                    <img [src]="urlImagen + '/api/brand/imagen/' + row.picture" class="rounded" width="25" alt="{{ row.name }} Imagen">
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-icon [matMenuTriggerFor]="menu"><i class="fi fi-rr-magic-wand"></i></mat-icon>                                    

                                    <mat-menu #menu="matMenu">
                                        <a mat-menu-item [routerLink]="['/admin/developer/brands/update', row.id ]">
                                            <i class="fi fi-rr-pencil"></i>
                                            Editar
                                        </a>
                        
                                        <a mat-menu-item (click)="deleteBrand(row.id)">
                                            <i class="fi fi-rr-trash"></i>
                                            Eliminar
                                        </a>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos que coincidan con la busqueda: "{{ input.value }}"</td>
                            </tr>
                        </table>

                        <mat-paginator [pageSize]="10" [length]="length" [pageIndex]="pageIndex - 1" (page)="paginationChange($event)"></mat-paginator>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>