<div class="container">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12 mt-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="text-decoration-none text-dark" [routerLink]="['/abc/blog']">                        
                            <i class="fas fa-arrow-left"></i> Regresar al contenido
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">                    
                        <span class="d-inline-block text-truncate">
                            <p>{{ post.title.rendered }}</p>                            
                        </span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    
    <div class="container_1">
        <div class="con_2">
        <img [src]="post.pictureMedia" alt="{{ post.title.rendered }}"> 
    </div>
        <p>Por:<span> ABCars.mx </span> - <small>{{ post.date | date:'dd MMMM, yyyy'  }}</small></p>
        <h1>{{ post.title.rendered }}</h1>
    </div>
    <hr width="75%">
    <!-- Post -->
    <div class="row">
        <div class="col-12 mb-3">
            <!-- Post, About, Tags -->
            <div class="row">
                <div class="col-md-9 mb-3">   
                    <div class="card abcars-background-card-home">
                        <div class="card-body">
                            <!-- <img class="card-img mt-3 mb-3" [src]="post.pictureMedia" alt="{{ post.title.rendered }}">   -->  
                            <div class="frame">         
                                <div class="content-detail" [innerHTML]="post.content.rendered"></div>             
                                <!-- <iframe srcdoc="{{ post.content.rendered }}" allow="fullscreen" width="100%" height="800"></iframe> -->
                            </div>  
                        </div>
                    </div>
                </div>
                
                <!-- Aside Post 
                <div class="col-md-3 mb-3">
                    <aside class="sidebar mb-3">
                        <div class="card abcars-background-card-home">
                            <div class="card-body">
                                <h2 class="card-title"></h2>
                                <iframe allow="fullscreen" width="80" height="1000"></iframe>
                            </div>
                        </div>
                    </aside>
                </div>-->
            </div>
        </div>
    </div>

    <!-- Recommend -->
    <div class="row">
        <div class="col-12 mb-5">                                     
            <h3 class="fs-3 fw-bold">Últimas historias</h3>
            <div class="row">
                <div class="col-12 col-md-3 mt-1 mb-1" *ngFor="let post of posts">    
                    <post-blog [post]="post" [routerLink]="['/abc/blog/post/', post.id, post.slug]"></post-blog>
                </div>
            </div>             
        </div>
    </div>
</div>