.container_1{
    width: 74.5%;
    height: 400px;
    /* margin-bottom: 20px;*/
    overflow: hidden;
    position: relative;
    margin: 200 px auto;
    box-shadow: 5px 8px 12px black;
}
.con_2 img{
  width: 100%;
  height: 25rem;
  transition: all 3s ease-in-out;
}
.con_2:hover{
  transform: scale(1.05) translateY(0.5px);
}


.container_1 h1{
  font-weight: 800;
  font-size: 32px;
  color: rgb(229, 224, 216);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, 50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  text-transform: uppercase;

}
.container_1 p{
  font-size:large;
  color: rgb(229, 224, 216);
  position: absolute;
  top: 50%;
  left: 11%;
  /* transform: translate(-60%, 60%); */
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}
.container_1 span{
  color: rgb(255, 197, 5);
  font-weight: bolder;
}
.slider{
  overflow: hidden;
}
.slider::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .45s ease-in-out;
}
.frame{
  font-family: Montserrat;
}
  .yellow {
    background-color: #fcf1e4;
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    height:100%;
  } 
  .card-body{
    background: white;
    font-family: Montserrat;
    font-size: 16px;
  }