<div class="container">
    <div class="row">
        <div class="col-12 col-12 mt-5 mb-5">
            <!-- Header -->
            <div class="row">
                <div class="col-12">
                    <h4 class="fs-4 fw-bold text-truncate">Actualizar vehículo</h4>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" [routerLink]="['/admin/gestor']">Overview</li>
                            <li class="breadcrumb-item" [routerLink]="['/admin/gestor/promotions']">Vehiculos</li>
                            <li class="breadcrumb-item active" aria-current="page">Actualizar vehículo</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class=fw-bold>Actualizar vehículo</h1>
                            <span>Por favor, actualice los campos del vehículo.</span>
                            <hr />
                        </div>
                    </div>
                    <ng-container *ngIf="isNotVehicle; else elseTemplate">
                        <div class="col-12">
                            <div class="sk-cube-grid">
                                <div class="sk-cube sk-cube1"></div>
                                <div class="sk-cube sk-cube2"></div>
                                <div class="sk-cube sk-cube3"></div>
                                <div class="sk-cube sk-cube4"></div>
                                <div class="sk-cube sk-cube5"></div>
                                <div class="sk-cube sk-cube6"></div>
                                <div class="sk-cube sk-cube7"></div>
                                <div class="sk-cube sk-cube8"></div>
                                <div class="sk-cube sk-cube9"></div>
                            </div>
                        </div>
                    </ng-container>
    
                    <ng-template #elseTemplate>
                        <!-- Form -->
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    
                                    <div class="row paddingInputs">
                                        <div class="col-12">
                                            <!-- Name -->
                                            <mat-form-field appearance="outline">
                                                <mat-label>Nombre del vehículo:</mat-label>
                                                <input matInput type="text" formControlName="name" placeholder="Nuevo nombre" [(ngModel)]="vehicle.name"  minlength="1" maxlength="191">
                                                <mat-hint *ngIf="nameInvalid">Escribe el nuevo nombre del vehículo. </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div class="row paddingInputs">
                                        <div class="col-12">
                                            <!-- Description -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Oportunidad:</mat-label>
                                                <textarea  matInput
                                                cdkTextareaAutosize
                                                cdkAutosizeMinRows="5"
                                                cdkAutosizeMaxRows="10"  formControlName="description" [(ngModel)]="vehicle.description" placeholder="Nueva descripción"></textarea>
                                                <mat-hint *ngIf="descriptionInvalid">Escribe la nueva oportunidad del vehículo.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Location -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Ubicación del vehículo</mat-label>
                                                <input matInput type="text" formControlName="location" [(ngModel)]="vehicle.location" placeholder="Nueva ubicación" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="locationInvalid">Escribe la nueva ubicación del vehículo.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Year model -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Año del modelo</mat-label>
                                                <input matInput type="text" formControlName="yearModel" [(ngModel)]="vehicle.yearModel" placeholder="Nuevo año" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="yearModelInvalid">Escribe el nuevo año del modelo.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Purchase Date  -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Fecha de compra</mat-label>
                                                <input matInput type="date" formControlName="purchaseDate" [(ngModel)]="vehicle.purchaseDate" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="purchaseDatelInvalid">Escribe la nueva fecha de compra.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    
                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Price -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Precio</mat-label>
                                                <input matInput type="number" formControlName="price" [(ngModel)]="vehicle.price" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="pricelInvalid">Escribe el nuevo precio.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    
                                        <!-- <div class="col-12 col-md-3 paddingInputs"> -->
                                            <!-- Price on List -->
                                            <!-- <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Precio de lista:</mat-label>
                                                <input matInput type="number" formControlName="priceList" [(ngModel)]="vehicle.priceList" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="priceListInvalid">Escribe el nuevo precio de lista.</mat-hint>
                                            </mat-form-field>
                                        </div> -->
                                        <input   type="hidden" formControlName="priceList" [(ngModel)]="vehicle.priceList" minlength="1" maxlength="191" >
                                        <!-- <div class="col-12 col-md-3 paddingInputs"> -->
                                            <!-- Price on Sale -->
                                            <!-- <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Precio de venta:</mat-label>
                                                <input matInput type="number" formControlName="salePrice" [(ngModel)]="vehicle.salePrice" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="salePriceInvalid">Escribe el nuevo precio de venta.</mat-hint>
                                            </mat-form-field>
                                        </div> -->
                                        <input  type="hidden" formControlName="salePrice" [(ngModel)]="vehicle.salePrice" minlength="1" maxlength="191" > <!--required-->

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Price on bono -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Precio del Bono:</mat-label>
                                                <input matInput type="text" formControlName="priceBonus" [(ngModel)]="vehicle.priceBonus" minlength="1" maxlength="191">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Type-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Tipo de vehículo:</mat-label>

                                                <mat-select #fontSize value="{{vehicle.type}}" [(ngModel)]="vehicle.type" formControlName="type">
                                                    <mat-option value="new">Nuevo</mat-option>
                                                    <mat-option value="pre_owned">Pre-adquirido</mat-option>
                                                    <mat-option value="demo">Demo</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Car Line -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Línea del vehículo:</mat-label>
                                                <input matInput type="text" formControlName="carline" [(ngModel)]="vehicle.carline" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="carlineInvalid">Escribe la nueva línea del vehículo.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    
                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Cylinders -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Número de cilindros:</mat-label>
                                                <input matInput type="number" formControlName="cylinders" [(ngModel)]="vehicle.cylinders" minlength="1" maxlength="5" >
                                                <mat-hint *ngIf="cylindersInvalid">Escribe el nuevo número de cilindros.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Interior Color -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Color interior:</mat-label>
                                                <input matInput type="text" formControlName="colorInt" [(ngModel)]="vehicle.colorInt" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="colorIntInvalid">Escribe el nuevo color interior.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Exterior Color -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Color interior:</mat-label>
                                                <input matInput type="text" formControlName="colorExt" [(ngModel)]="vehicle.colorExt" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="colorExtInvalid">Escribe el nuevo color exterior.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Type-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Estatus del vehículo:</mat-label>

                                                <mat-select #fontSize value="{{vehicle.status}}" [(ngModel)]="vehicle.status" formControlName="status">
                                                    <mat-option value="active">Activo</mat-option>
                                                    <mat-option value="inactive">Inactivo</mat-option>
                                                    <mat-option value="sale">Vendido</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    
                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Plates -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Placas:</mat-label>
                                                <input matInput type="text" formControlName="plates" [(ngModel)]="vehicle.plates" minlength="0" maxlength="191">
                                                <mat-hint *ngIf="platesInvalid">Escribe las nuevas placas.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Transmission-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Transmisión:</mat-label>

                                                <mat-select #fontSize value="{{vehicle.transmission}}" [(ngModel)]="vehicle.transmission" formControlName="transmission">
                                                    <mat-option value="automatico">Automático</mat-option>
                                                    <mat-option value="manual">Manual</mat-option>
                                                    <mat-option value="cvt">CVT</mat-option>
                                                    <mat-option value="triptronic">Triptronic</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Mileage -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Kilometraje:</mat-label>
                                                <input matInput type="number" formControlName="km" [(ngModel)]="vehicle.km" minlength="1" maxlength="191" >
                                                <mat-hint *ngIf="kmInvalid">Actualiza el kilometraje.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- numKeys -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Número de llaves:</mat-label>
                                                <input matInput type="number" formControlName="numKeys" [(ngModel)]="vehicle.numKeys" minlength="1" maxlength="1" >
                                                <mat-hint *ngIf="numKeysInvalid">Actualiza el número de llaves.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Studs -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Tiene birlos de seguridad?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.studs}}" [(ngModel)]="vehicle.studs" formControlName="studs">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Spare tire -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Cuenta con llanta de refacción?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.spareTire}}" [(ngModel)]="vehicle.spareTire" formControlName="spareTire">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Hydraulic Jack -->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Cuenta con gato hidráulico?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.hydraulicJack}}" [(ngModel)]="vehicle.hydraulicJack" formControlName="hydraulicJack">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Extinguisher-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Cuenta con extinguidor?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.extinguiser}}" [(ngModel)]="vehicle.extinguiser" formControlName="extinguiser">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Reflectives-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Cuenta con fantasmas?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.reflectives}}" [(ngModel)]="vehicle.reflectives" formControlName="reflectives">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Handbook-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Cuenta con manual de usuario?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.handbook}}" [(ngModel)]="vehicle.handbook" formControlName="handbook">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Insurance Policy-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Cuenta con poliza de seguro?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.insurancePolicy}}" [(ngModel)]="vehicle.insurancePolicy" formControlName="insurancePolicy">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <!-- Power cables-->
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>¿Tiene cables pasa corriente?</mat-label>
                                                <mat-select #fontSize value="{{vehicle.powerCables}}" [(ngModel)]="vehicle.powerCables" formControlName="powerCables">
                                                    <mat-option value="yes">Si</mat-option>
                                                    <mat-option value="no">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12 col-md-3 paddingInputs">
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Precio de oferta:</mat-label>
                                                    <input matInput type="number" formControlName="priceOffer" value="{{vehicle.priceOffer}}" [(ngModel)]="vehicle.priceOffer" minlength="1" maxlength="191">
                                                <mat-hint *ngIf="priceOfferInvalid">Escribe el nuevo precio de oferta.</mat-hint>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <!-- Promotion -->
                                    <!-- <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>Promoción del vehículo:</mat-label>
                                                <textarea  matInput
                                                cdkTextareaAutosize
                                                cdkAutosizeMinRows="5"
                                                cdkAutosizeMaxRows="10"  formControlName="promotion" [(ngModel)]="vehicle.promotion" placeholder="Nueva promoción"></textarea>
                                                <mat-hint *ngIf="promotionInvalid">Escribe la nueva promoción del vehículo.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-12 text-end">
                                            <button mat-raised-button type="submit" class="btn abcars-background-color px-4 rounded-pill text-dark mx-2" [disabled]="form.invalid || button">                                    
                                                <span *ngIf="!button; else elseButton">Actualizar</span>
                                                <ng-template #elseButton>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                </ng-template>
                                                
                                            </button>

                                            <button mat-raised-button class="btn abcars-background-color-secondary px-4 rounded-pill text-dark" [routerLink]="['/admin/gestor/promotions']">                                    
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </ng-template>
                    
                </div>
            </div>
        </div>
    </div>
</div>