<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <!-- Header -->
            <div class="row">
                <div class="col-12">
                    <h4 class="fs-4 fw-bold text-truncate">Control de Incidencias</h4>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" [routerLink]="['/admin']">Overview</li>
                            <li class="breadcrumb-item active" aria-current="page">Incidencias de Vehículos</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- Button Create -->
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Gwen Stacy" #input autocomplete="off">
                    </mat-form-field>
                </div>
            </div>

            <!-- Datatable -->
            <div class="row">
                <div class="col-12">
                    <div class="col-12">
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre cliente</th>
                                    <td mat-cell *matCellDef="let row">{{ row.client.user.name | titlecase }}</td>
                                </ng-container>

                                <ng-container matColumnDef="surname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                                    <td mat-cell *matCellDef="let row">{{ row.client.user.surname | titlecase }}</td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                    <td mat-cell *matCellDef="let row">{{ row.client.user.email | titlecase }}</td>
                                </ng-container>

                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="badge rounded-pill" [ngClass]="{ 
                                            'bg-success': row.status === 'success', 
                                            'bg-secondary': row.status === 'progress',
                                            'bg-danger': row.status === 'close'
                                        }">
                                            {{ 
                                                (row.status === 'success') ? 'Revisado' :
                                                (row.status === 'progress') ? 'En Espera' : 'Cerrado'
                                            }}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
                                    <td mat-cell *matCellDef="let row">{{ row.name | titlecase }}</td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                                    <td mat-cell *matCellDef="let row">{{ row.description | titlecase }}</td>
                                </ng-container>

                                <ng-container matColumnDef="vehicle_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Vehículo</th>
                                    <td mat-cell *matCellDef="let row">{{ row.vehicle_id }}</td>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-icon [matMenuTriggerFor]="menu"><i class="fi fi-rr-magic-wand"></i></mat-icon>                                    

                                        <mat-menu #menu="matMenu">
                                            <a mat-menu-item (click)="newStatus('success', row)">
                                                <i class="fi fi-rr-shield-check"></i>
                                                Atendido
                                            </a>

                                            <a mat-menu-item (click)="newStatus('progress', row)">
                                                <i class="fi fi-rr-time-past"></i>
                                                En Espera
                                            </a>

                                            <a mat-menu-item (click)="newStatus('close', row)">
                                                <i class="fi fi-rr-ban"></i>
                                                Cerrado
                                            </a>
                                        </mat-menu>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No hay datos que coincidan con la busqueda: "{{ input.value }}"</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSize]="10" [length]="length" [pageIndex]="pageIndex - 1" (page)="paginationChange($event)"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>