<div class="container">
    <div class="row py-3">
        <div class="col-12">
            <h2 class="fw-bold text-center">Levantar una Queja</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- Type Complain -->
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de Queja</mat-label>
                            <mat-select placeholder="Seleccionar tipo de queja" formControlName="complain" required>
                                <mat-option value="Sale" (click)="saleOrService(true)">Queja de Venta</mat-option>
                                <mat-option value="Service" (click)="saleOrService(!changeInput)">Queja de Servicio</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Name -->
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de la Incidencia</mat-label>
                            <input matInput type="text" placeholder="Abc" formControlName="name" maxlength="50" required>
                            <mat-hint *ngIf="nameInvalid">Ingrese el nombre de la incidencia</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Service or vehicle -->
                <div class="row">
                    <div class="col-12" *ngIf="changeInput">
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccionar el vehículo</mat-label>
                            <mat-select placeholder="Seleccionar vehículo" formControlName="vehicle" required>
                                <mat-option *ngFor="let vehicle of vehicles" value="{{ vehicle.id }}">{{ vehicle.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="vehicleInvalid">Seleccione el vehículo de la queja</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-12" *ngIf="!changeInput">
                        <mat-form-field appearance="outline">
                            <mat-label>Seleccionar el Servicio</mat-label>
                            <mat-select placeholder="Seleccionar servicio" formControlName="service" required>
                                <mat-option *ngFor="let service of services" value="{{ service.id }}">{{ service.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="!serviceInvalid">Consulta nuestros servicios <a class="abcars-color-hover text-decoration-none" [routerLink]="['/asistencia-vial']">aquí.</a></mat-hint>
                            <mat-hint *ngIf="serviceInvalid">Seleccione el servicio de la queja</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Descripción de la Incidencia</mat-label>
                            <textarea matInput type="text" style="resize: none;" formControlName="description" rows="10" placeholder="Descripción de lo sucedido..." required></textarea>
                            <mat-hint *ngIf="descriptionInvalid">Por favor describa lo sucedido en el recuadro anterior</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Button Submit -->
                <div class="row">
                    <div class="col-12 text-center">
                        <button mat-raised-button type="submit" [disabled]="form.invalid || spinner" class="btn abcars-background-color px-5 py-1 mt-3 mb-5 rounded-pill text-dark">                                    
                            <span *ngIf="!spinner">REGISTRAR</span>
                            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>