<div class="container">
    <div class="row flex-lg-row-reverse">
        <div class="col-12 col-md-6 mt-5">
            <h1 class="fs-2 fw-bold">Quiénes somos</h1>
            <p class="fw-light">
                Hemos creado ABcars para ofrecer una plataforma fácil de usar que ofrece autos de gran calidad que puedes ver y comprar —completamente online—. 
                Sin complicaciones, sin problemas. 
                Orientado únicamente a la compra de un auto como debe ser ¡fácil!
            </p>

            <!-- Carousell -->
            <carousel class="carousel-html-content" [cellWidth]="200" [height]="250">
                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center">
                            <img class="card-img-top w-75 mx-auto" src="assets/icons/abcars-icons/icon-1.svg" alt="Icon 1">                                
                            <p class="fw-normal fs-5">El ABC de los autos</p>                            
                        </div>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center mx-auto">
                            <img class="card-img-top w-75" src="assets/icons/abcars-icons/icon-2.svg" alt="Icon 2">
                            <p class="fw-normal fs-5">Empleos</p>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center mx-auto">
                            <img class="card-img-top w-75" src="assets/icons/abcars-icons/icon-3.svg" alt="Icon 3">
                            <p class="fw-normal fs-5">Contacto</p>
                        </div>
                    </div>
                </div>
            </carousel>
        </div>

        <div class="col-12 col-md-6 mt-5">
            <img class="img-fluid" src="assets/images/abcars-images/recurso-4.png" width="500" alt="Familia Imagen">
        </div>

    </div>

    <div class="row">
        <div class="col-12 mt-5 mb-5 mx-auto text-center">
            <h3 class="fs-4">Encuéntranos en la siguiente dirección:</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.493536498737!2d-98.23810019999999!3d19.085992799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19765a1c0206353c!2sABCars.mx!5e0!3m2!1ses-419!2smx!4v1651848493462!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>