table {    
    width: 100%;
}

mat-form-field {
    padding: 0%;    
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;    
}

.table-responsive .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}
.table-responsive .mat-row,
.table-responsive .mat-header-row {
    display: table-row;
}
.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.mat-column-observations{
    max-width: 500px !important;
    min-width: 500px !important;
 }

 .mat-column-name{
    max-width: 300px !important;
    min-width: 300px !important;
 }
 
 .mat-column-person_1{
    max-width: 300px !important;
    min-width: 300px !important;
 }
 .mat-column-person_2{
    max-width: 300px !important;
    min-width: 300px !important;
 }