<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <!-- Header -->
            <div class="row">
                <div class="col-12">
                    <h4 class="fs-4 fw-bold text-truncate">Publicador</h4>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" [routerLink]="['/admin/gestor']">Overview</li>
                            <li class="breadcrumb-item active" aria-current="page">Publicador</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">                                              
                <div class="col-6 col-sm-4 col-md-6 col-lg-3 mb-3" *ngFor="let page of pages">
                    <div class="card text-center card-module h-100">
                        <div class="card-body m-3">
                            <img [src]="page.src" alt=""> 

                            <h4 class="fw-bold mt-3">{{ page.title }}</h4>
                            
                            <a class="link-module text-muted">
                                Opciones 
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>