<div class="container-fluid">
  <!-- Header -->
  <div class="row" style="
        background-image: url('assets/images/abcars-images/blog/plecaonda.png');
        background-repeat: no-repeat;
        background-position: right;
      ">
    <div class="col-12 mt-5 mb-5">
      <h1 class="fs-2 ms-5 fw-bold">El ABC de los Autos</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-3">
      <div class="grid-item" *ngFor="let post of dataPosts.slice(0, 1)">
        <div class="card img_post " [routerLink]="['/abc/blog/post/', post.id, post.slug]">
          <img class="img-recent" [src]="post.pictureMedia" alt="{{ post.title.rendered }}">
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4 img-recent">
            <div class="w-100 mt-auto">
              <!-- titulo de la carta -->
              <h3 class="text-white fs-4">{{ post?.title?.rendered?.substr(0, 30) }}</h3>
              <!-- Card info -->
              <ul class="nav nav-divider align-items-center  text-light">
                <li class="nav-item">Por ABCars.mx • {{ post?.date | date:'dd MMMM, yyyy' }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="align-self-end">
        <div class="grid-item " *ngFor="let post of dataPosts.slice(3, 4)">
          <div class="card img_post" [routerLink]="['/abc/blog/post/', post.id, post.slug]">
            <img class="img-recent " [src]="post.pictureMedia" alt="{{ post.title.rendered }}">
            <div class=" card-img-overlay d-flex align-items-center p-3 p-sm-4 img-recent">
              <div class="w-100 mt-auto">
                <!-- titulo de la carta -->
                <h3 class="text-white fs-4">{{ post?.title?.rendered?.substr(0, 30) }}</h3>
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center  text-light">
                  <li class="nav-item">Por ABCars.mx • {{ post?.date | date:'dd MMMM, yyyy' }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6 align-self-center post">
      <div *ngFor="let post of dataPosts.slice(1, 2)">
        <div class="col-12 mb-2">
          <post-blog [post]="postMain" [routerLink]="['/abc/blog/post/', postMain.id, postMain.slug]"></post-blog>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="grid-item" *ngFor="let post of dataPosts.slice(2, 3)">
        <div class="card img_post" [routerLink]="['/abc/blog/post/', post.id, post.slug]">
          <img class="img-recent " [src]="post.pictureMedia" alt="{{ post.title.rendered }}">
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4 img-recent">
            <div class="w-100 mt-auto">
              <!-- titulo de la carta -->
              <h3 class="text-white fs-4">{{ post?.title?.rendered?.substr(0, 30) }}</h3>
              <!-- info de carta -->
              <ul class="nav nav-divider align-items-center  text-light">
                <li class="nav-item">Por ABCars.mx • {{ post?.date | date:'dd MMMM, yyyy' }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item" *ngFor="let post of dataPosts.slice(4, 5)">
        <div class="card img_post" [routerLink]="['/abc/blog/post/', post.id, post.slug]">
          <img class="img-recent " [src]="post.pictureMedia" alt="{{ post.title.rendered }}">
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4 img-recent">
            <div class="w-100 mt-auto">
              <!-- titulo de la carta -->
              <h3 class="text-white fs-4">{{ post?.title?.rendered?.substr(0, 30) }}</h3>
              <!-- Card info -->
              <ul class="nav nav-divider align-items-center  text-light">
                <li class="nav-item">Por ABCars.mx • {{ post?.date | date:'dd MMMM, yyyy' }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container p-5">
  <!-- Notices -->
  <div class="row">
    <div class="col-12 mt-4 mb-5">
      <h3 class="fs-4 fw-light">Esto también te podría interesar</h3>
      <!-- <div class="row">
                  <div class="col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let post of dataPosts">                
                      <post-blog [post]="post" [routerLink]="['/abc/blog/post/', post.id, post.slug]"></post-blog>
                  </div>                
              </div> -->
    </div>
    <div class="row col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let post of dataPosts">
      <div class="col">
        <div class="card h-100 img_post" [routerLink]="['/abc/blog/post/', post.id, post.slug]">
          <img [src]="post.pictureMedia" alt="{{ post.title.rendered }}" />
          <div class="card-body btn_click">
            <h3 class="card-title">{{ post.title.rendered }}</h3>
            <div class="card-text">
              <p>
                Por:<span> ABCars.mx </span> -
                <small>{{ post.date | date : "dd MMMM, yyyy" }}</small>
              </p>
              <div class="inner-description" [innerHTML]="post.excerpt.rendered"></div>
            </div>
            <!-- <button mat-raised-button class="btn abcars-background-color-yellow  mx-5 px-5 text-dark">Continuar leyendo</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>