<div class="container">
    <section>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-5">
                <p class="info-text">
                    Al vender tu vehículo en <span>ABcars</span> 
                </p>
                <p class="info-text mb-4">
                    obtienes pago rápido y seguro
                </p>
                <hr class="info-text mb-4">

                <p class="benefits-text">
                    <i class="far fa-check-circle"></i> Valuamos tu auto en nuestra sucursal.
                </p>

                <p class="benefits-text">
                    <i class="far fa-check-circle"></i> Respuesta rápida y transparente.
                </p>

                <p class="benefits-text">
                    <i class="far fa-check-circle"></i> Tomamos tu auto a cuenta.
                </p>
            </div>   
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-5">
                <div class="image_box">
                    <img src="assets/images/abcars-images/kisspng-luxury.svg" alt="imagen" class="principal_image_car">
                </div> 
            </div>         
        </div>
    </section> 

    <section class="section_form mt-3">
        <!-- Form -->
        <div class="row">
            <div class="col-12">            
                <div class="text-center">
                    <h1 class="fs-1 fw-bold">Detalles de tu Venta</h1>
                    <h5 class="fs-4 fw-bold aaa">Proporciona la información requerida para continuar con tu proceso para vender tu auto.</h5>
                </div>

                <!-- Forms Client and Vehicle -->
                <div class="row mt-5 mb-5">
                    <app-sell-your-car></app-sell-your-car>
                </div>
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="row">
            <div class="image_box">
                <img src="assets/images/abcars-images/autos.svg" alt="imagen" class="image_car">                
            </div>            
        </div>
    </section>          -->
</div>