<br>
<a class="fw-bold m-4 mt-5  text-dark text-decoration-none " [routerLink]="['/admin/pictures/reportes']">
  <i class="fas fa-arrow-left"></i> volver
</a>
  <div *ngIf="data" class="container py-5">
    <!-- <div class="row">
      <img src="https://abcars.mx/assets/images/logo.svg"
        style="margin: auto ; display: block;  width:250px; height:100px" class="d-inline-block align-top" alt="">
      <hr>
    </div> -->

    <!-- <h1 class="fw-bold">Nombre: {{data.name}} <br> Vin: {{data.vin}}</h1> -->
    <h1 class="fw-bold">Vin: {{data.vin}}</h1>

    <!--Sección de las cartas para visualizar los detalles de los autos, se puede modificar los detalles si se requiere-->
    <div class="container">
      <!-- detalles de interior-->
      <div *ngIf="isInterior.length !=0">
        <h1>Detalles de Interiores</h1>
      </div>
      <div class="containerss">
        <div class="card" *ngFor="let element of dataInterior">
          <img src="{{ baseUrl }}/api/check_images/{{
            element.path}}" alt="Descripción de la imagen">
          <div class="description mt-2">
            <p>{{ element.comment }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="isInterior.length !=0">
        <img src="../../../../../assets/images/swipe-left-right.gif" style="width: 50px; display: block; margin: auto;">
      </div>

      <!-- detalles de carroceria-->
      <div *ngIf="isBodyWork.length !=0" class="mt-4">
        <h1>Detalles de Carrocería</h1>
      </div>
      <div class="containerss">
        <div class="card" *ngFor="let element of dataBodywork">
          <img src="{{ baseUrl }}/api/check_images/{{
            element.path}}" alt="Descripción de la imagen">
          <div class="description mt-2">
            <p>{{ element.comment }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="isBodyWork.length !=0">
        <img src="../../../../../assets/images/swipe-left-right.gif" style="width: 50px; display: block; margin: auto;">
      </div>

      <!-- detalles de electrico-->
      <div *ngIf="isElectric.length !=0" class="mt-4">
        <h1>Detalles Electricos</h1>
      </div>
      <div class="containerss">
        <div class="card" *ngFor="let element of dataElectric">
          <img src="{{ baseUrl }}/api/check_images/{{
                  element.path}}" alt="Descripción de la imagen">
          <div class="description mt-2">
            <p>{{ element.comment }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="isElectric.length !=0">
        <img src="../../../../../assets/images/swipe-left-right.gif" style="width: 50px; display: block; margin: auto;">
      </div>

      <!-- detalles de transmission-->
      <div *ngIf="isTransmission.length !=0" class="mt-4">
        <h1>Detalles de Transmisión</h1>
      </div>
      <div class="containerss">
        <div class="card" *ngFor="let element of dataTransmission">
          <img src="{{ baseUrl }}/api/check_images/{{
                        element.path}}" alt="Descripción de la imagen">
          <div class="description mt-2">
            <p>{{ element.comment }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="isTransmission.length !=0">
        <img src="../../../../../assets/images/swipe-left-right.gif" style="width: 50px; display: block; margin: auto;">
      </div>

      <!-- detalles de motor-->
      <div *ngIf="isMotor.length !=0" class="mt-4">
        <h1>Detalles de Motor</h1>
      </div>
      <div class="containerss">
        <div class="card" *ngFor="let element of dataMotor">
          <img src="{{ baseUrl }}/api/check_images/{{
                              element.path}}" alt="Descripción de la imagen">
          <div class="description mt-2">
            <p>{{ element.comment }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="isMotor.length !=0">
        <img src="../../../../../assets/images/swipe-left-right.gif" style="width: 50px; display: block; margin: auto;">
      </div>

      <div class="row">
        <!--Detalle de interior
        <div *ngIf="isInterior.length !=0">
          <h1>Interior</h1>
        </div>
        <div class="row col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let element of dataInterior">
          <div class="col">
            <div class="card h-100  ">
              <img class="img-fluid" src="https://sandbox.abcars.mx/abcars-backend/api/check_images/{{
                  element.path}}" style="height: 250px;" />
              <div class="card-body btn_click">
                <h3 class="card-title">{{ element.comment }}</h3>
              </div>
            </div>
          </div>
        </div>
      -->

        <!--Detalle de carroceria
        <div *ngIf="isBodyWork.length !=0">
          <h1>BodyWork</h1>
        </div>
        <div class="row col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let element of dataBodywork">
          <div class="col">
            <div class="card h-100 img_post ">
              <img class="img-fluid" src="https://sandbox.abcars.mx/abcars-backend/api/check_images/{{
                  element.path}}" style="height: 250px;" />
              <div class="card-body btn_click">
                <h3 class="card-title">{{element.comment}}</h3>
              </div>
            </div>
          </div>
        </div>-->

        <!--Detalle de electricos
        <div *ngIf="isElectric.length !=0">
          <h1>Electrico</h1>
        </div>
        <div class="row col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let element of dataElectric">
          <div class="col">
            <div class="card h-100 img_post ">
              <img class="img-fluid" src="https://sandbox.abcars.mx/abcars-backend/api/check_images/{{
                      element.path}}" style="height: 250px;" />
              <div class="card-body btn_click">
                <h3 class="card-title">{{ element.comment }}</h3>
              </div>
            </div>
          </div>
        </div>
        -->

        <!--Detalle de transmision
        <div *ngIf="isTransmission.length !=0">
          <h1>Transmisión</h1>
        </div>
        <div class="row col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let element of dataTransmission">
          <div class="col">
            <div class="card h-100 img_post ">
              <img class="img-fluid" src="https://sandbox.abcars.mx/abcars-backend/api/check_images/{{
                      element.path}}" style="height: 250px;" />
              <div class="card-body btn_click">
                <h3 class="card-title">{{ element.comment }}</h3>
              </div>
            </div>
          </div>
        </div>
-->
        <!--Detalle de motor
        <div *ngIf="isMotor.length !=0">
          <h1>Motor</h1>
        </div>
        <div class="row col-12 col-md-4 col-lg-4 mt-2 mb-2" *ngFor="let element of dataMotor">
          <div class="col">
            <div class="card h-100 img_post ">
              <img class="img-fluid" src="https://sandbox.abcars.mx/abcars-backend/api/check_images/{{
                      element.path}}" style="height: 250px;" />
              <div class="card-body btn_click">
                <h3 class="card-title">{{ element.comment }}</h3>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
    </div>