<div class="container">    
    <div class="row flex-lg-row-reverse">
        <div class="col-12 col-md-12 col-lg-6 mt-5 mb-5">
            <div class="row">
                <h1 class="fs-2 fw-bold text-center mb-5">Contáctanos</h1>
                
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card mb-4 rounded-3 text-center h-100">
                        <div class="card-header py-3" style="background-color: #F2F2F2; border-color: #F2F2F2;">
                            <img width="40%" src="assets/icons/abcars-icons/contact-icon2.svg" alt="Icon Contactanos Chat">
                            <h4 class="fs-5 fw-light mt-3">Hola, ¿En qué te podemos ayudar hoy?</h4>
                        </div>

                        <button type="button" onclick="tidioChatApi.display(true); tidioChatApi.open()" class="w-100 btn btn-lg btn-action">
                            Chatear
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card mb-4 rounded-3 text-center h-100">
                        <div class="card-header py-3" style="background-color: #F2F2F2; border-color: #F2F2F2;">
                            <img width="40%" src="assets/icons/abcars-icons/contact-icon1.svg" alt="Icon Contactanos Llamada">
                            <h4 class="fs-5 fw-light mt-3">Horario: 09:00 a.m. a 07:00 p.m.</h4>
                        </div>
                        
                        <a href="https://api.whatsapp.com/send?phone=+522223039910&amp;text=Hola, solicito mas información." target="_blank">
                            <button type="button" class="w-100 btn btn-lg btn-action">22 23 03 99 10</button>
                        </a>
                    </div>
                </div>
            </div>            
        </div>  

        <div class="col-12 col-md-12 col-lg-6 mt-5 mb-5 text-center">
            <img class="img-fluid" src="assets/images/abcars-images/contact.png" alt="Contact Image">
        </div>
    </div>
</div>