.progress-bar {
    padding: 0;
  }
  
  .progress {
    width: 50px;
  }
  .mat-input-element {
    font-size: medium;
    font-weight: 200;
  }
  
  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  
  .mat-toolbar-single-row button {
    width: 100px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .message {
    background-color: #ddd;
    padding: 15px;
    color: #333;
    border: #aaa solid 1px;
    border-radius: 4px;
    margin: 15px 0;
  }
  
  .preview {
    max-width: 300px;
    vertical-align: middle;
  }
  
  .list-card {
    margin-top: 20px;
  }
  
  .list-item {
    margin-bottom: 20px;
  }
  .inputLi{
      /* background-color: #BDBDBD; */
      border-radius: 25px;
      margin-bottom: 10px;
      text-align: left;
      color: aliceblue;
      text-align: center;
      width: 400px;
      border-radius: 25px;
  }
  .span{
    margin-top: 5px;
    text-align: center;

  }
  .containerInput{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonimg{
    width: 400px;
  }
  .imgbutton{
    width: 180px;
    border-radius: 25px;
    margin: 40px 0; 
    /* background-color: #1057DB; */
  }
  .containerImgC{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .imagenes{
    width: 400px; 
    height: 200px;
    display: block; 
    margin: auto;
  }

  .bgcontainer{
    width: 100%;
    padding: 50px 0;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
  }
  .abcars-background-color {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%) !important;
    transition: 0.5s !important;
    background-size: 200% auto !important;
    box-shadow: 0 0 20px #eee !important;
    border-radius: 20px !important;
}

.abcars-background-color:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #707070 !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #FFCB54 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #FFCB54 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #707070 !important;
}

::ng-deep textarea.mat-input-element {
  resize: none !important;
}

@media (min-width: 600px) {
  .ocultar {
    display: none;
  }
}

@media (max-width: 600px) {
  .ocultar1 {
    display: none;
  }
}



.botonera {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
th, td {
  border: 5px solid rgb(255, 255, 255);
}