<div class="container">
    <section>
        <div class="row mb-2">
            <div class="image_box">
                <img src="assets/images/abcars-images/carsintro.svg" alt="imagen" class="image_car">
                <img src="assets/images/abcars-images/rectangle.svg" alt="imagen" class="footer_image_car">
            </div>            
        </div>
    </section>
    <section class="section_form">
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                <div class="text-center">
                    <h1 class="fs-2 fw-bold">Nosotros podemos encontrar tu auto ideal.</h1>
                    <h5 class="fs-5 fw-light">Proporciona la información requerida para encontrar el auto que estás buscando.</h5>
                </div>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="col-12">                
                <h4 class="heading-4 horizontal_line mb-4"><span>Tu información</span></h4>

                <!-- Name, Father Lastname and Mother Lastname -->
                <div class="row mb-2">
                    <!-- Name -->
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre(s)</mat-label>
                            <input matInput type="text" placeholder="Ben" formControlName="name" required>
                            <mat-hint *ngIf="nameInvalid">Complete su nombre(s).</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Father and Mother Lastname -->
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input matInput type="text" placeholder="Affleck" formControlName="surname" required>
                            <mat-hint *ngIf="surnameInvalid">Complete sus apellidos.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Email and Phone -->
                <div class="row">
                    <!-- Email -->
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput type="email" placeholder="a@b.c" formControlName="email" required>
                            <mat-hint *ngIf="emailInvalid">Ingrese un correo electrónico válido.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Phone -->
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Número de Teléfono</mat-label>
                            <input matInput type="tel" placeholder="1234567890" formControlName="phone" #phone (keyup)="maxLengthCheck(phone)" maxlength="10" required>
                            <mat-hint *ngIf="phoneLength">Su número debe ser de 10 dígitos, verifique.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <h4 class="heading-4 horizontal_line mb-4"><span>Vehículo</span></h4>
                <!-- Brand, Model and Year -->
                <div class="row mb-2">
                    <!-- Brands -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Marca</mat-label>
                            <mat-select placeholder="Seleccionar una Marca" formControlName="brand" required>
                                <mat-option *ngFor="let brand of brands" (click)="getModels(brand.id)" value="{{ brand.id }}">{{ brand.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="brandInvalid">Seleccione una marca.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Model -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Modelo</mat-label>
                            <mat-select placeholder="Seleccionar un Modelo" formControlName="model" required>
                                <mat-option *ngFor="let model of models" value="{{ model.id }}">{{ model.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="modelInvalid">Seleccione un modelo.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Year -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Año</mat-label>
                            <mat-select placeholder="Seleccione el año del vehículo" formControlName="year" required>
                                <mat-option *ngFor="let year of years" value="{{ year }}">{{ year }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="yearInvalid">Seleccione un año.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Version, Vin and Mileage -->
                <div class="row">
                    <!-- Version -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Versión</mat-label>
                            <input matInput type="text" placeholder="Sport V" formControlName="version" required>
                            <mat-hint *ngIf="versionInvalid">Escriba la versión de su vehículo.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Year -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Transmisión</mat-label>
                            <mat-select placeholder="Seleccione la transmisión del vehículo" formControlName="transmission" required>
                                <mat-option value="automatico">Automático</mat-option>
                                <mat-option value="manual">Manual</mat-option>
                                <mat-option value="cvt">CVT</mat-option>
                                <mat-option value="triptronic">Triptronic</mat-option>
                                <mat-option value="otra">Otra</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="transmissionInvalid">Seleccione la transmisión.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Mileage -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Kilometraje</mat-label>
                            <input matInput type="number" placeholder="000" min="1" max="9999999999" formControlName="mileage" #mileage (keyup)="maxLengthCheck(mileage)" maxlength="10" required>
                            <mat-hint *ngIf="mileageInvalid">Escriba el kilometraje de su vehículo.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <!-- <h4 class="heading-4 horizontal_line mb-4"><span>Financiamiento</span></h4> -->
                <!-- Release and Method Payment -->
                <div class="row mb-2">
                    <!-- Release 
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>¿Cuándo planea adquirir su vehículo?</mat-label>
                            <mat-select placeholder="Seleccionar una Marca" formControlName="release" required>
                                <mat-option value="inmediatamente">Inmediatamente</mat-option>
                                <mat-option value="en un mes">En un mes</mat-option>
                                <mat-option value="en tres meses">En tres meses</mat-option>
                                <mat-option value="en seis meses">En seis meses</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="releaseInvalid">Seleccione el tiempo de adquisición del vehículo.</mat-hint>
                        </mat-form-field>
                    </div>-->

                    <!-- Method Payment 
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>¿Cuál sería su método de pago?</mat-label>
                            <mat-select placeholder="Seleccionar un Modelo" formControlName="type_purchase" required>
                                <mat-option value="contado">Contado</mat-option>
                                <mat-option value="financiamiento">Financiamiento</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="typePurchaseInvalid">Seleccione su método de pago.</mat-hint>
                        </mat-form-field>
                    </div>-->

                    <!-- Amount Pay 
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>¿Cuál es la cantidad que esta dispuesto a pagar?</mat-label>
                            <input matInput type="number" placeholder="$000" min="1" max="9999999999" formControlName="amount_pay" #amount_pay (keyup)="maxLengthCheck(amount_pay)" maxlength="10" required>
                            <mat-hint *ngIf="amountPayInvalid">Escriba la cantidad total a pagar por el vehículo.</mat-hint>
                        </mat-form-field>
                    </div>-->
                </div>
                
                <!-- Comment -->
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Comentario</mat-label>                                    
                            <textarea matInput rows="5" placeholder="Cuéntanos lo que piensas..." style="resize: none;" formControlName="comment" required></textarea>
                            <mat-hint *ngIf="commentInvalid">Escriba sus comentarios, sugerencias u observaciones respecto al vehículo que desea.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Checkbox -->
                <div class="row">
                    <div class="col-6">
                        <mat-checkbox formControlName="checkbox" required>
                            Acepto <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/privacidad-de-uso']">Aviso</a>,
                            <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/terminos-y-condiciones']">Términos y Condiciones</a>.
                        </mat-checkbox>
                    </div>
                    <div class="col-6 text-end">                        
                        <button mat-button type="submit" class="btn abcars-background-color-blue rounded-pill mx-2 px-3" [disabled]="form.invalid || spinner">
                            <span *ngIf="!spinner">Enviar</span>
                            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                    
                        </button>
                    </div>
                </div>
                
            </div>            
        </form>
    </section>
    <section>
        <div class="row">
            <div class="image_box">
                <img src="assets/images/abcars-images/pngfind.svg" alt="imagen" class="image_car">                
            </div>            
        </div>
    </section>    
</div>
