<!-- <p>login works!</p> -->
<div class="container">
  <div class="containerauto">
  
     <!--  <div class="row">
          <img src="https://abcars.mx/assets/images/logo.svg"
            style="margin: auto ; display: block;  width:250px; height:100px" class="d-inline-block align-top" alt="">
          <hr>
        </div> -->
      <a class="fw-bold text-dark text-decoration-none"  [routerLink]="['/admin/pictures']">
          <i class="fas fa-arrow-left"></i> volver
      </a>
      <div class="containerImg">
          <img src="../../../assets/images/uuu.png" style="width: 350px; display: flex; margin: auto; z-index: 1; margin-bottom: 120px;" alt="">
       </div>
      <div class="containerImg">
           <img src="../../../assets/images/banner_circulos.png" style="width: 350px; display: flex; margin: auto; margin-top: -280px;"  alt="">
      </div>
  
      <div class="body">
          <div class="login">
              <div class="container-login">
                  <mat-form-field class="ancho input">
                      <mat-label>Ingresa el Vin:</mat-label>
                      <input matInput [(ngModel)]="codigVIN" >
                  </mat-form-field>
                  <br>
              </div>
              <button (click)="ingresar()"   mat-raised-button mat-button class="abcars-background-color">Revisar</button>
          </div>
      </div>    
  </div>
  </div>