.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body {
      align-items: center;
      justify-content: center;
      background-color: #ffff;
  
      }
    .login {
      width: 100%;
      /* margin: 0 auto; */
      text-align: center;
  
    }
    .container-login{
      margin: 0 auto;
     }
    .ancho {
      width: 100%;
      max-width: 600px;
    }
    .containerauto{
      margin-top: 15px;
      margin-bottom: 25px;
    }

    @media (min-width: 600px) {
      .containerauto {
        margin-bottom: 40px;
      }
    }
    
    @media (max-width: 600px) {
      .containerauto {
        margin-bottom: 40px;
      }
    }

    @media (max-width: 768px) {
      .containerauto, .ancho {
        margin-bottom: 40px;
      }
    }
    
    .input{
        text-align: center;
    }
    .colorfw{
      color: white;
    }
    .abcars-background-color {
      background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%) !important;
      transition: 0.5s !important;
      background-size: 200% auto !important;
      box-shadow: 0 0 20px #eee !important;
      border-radius: 20px !important;
      width: 350px;
  }
  
  .abcars-background-color:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
  }