<div class="container">
    <!-- Header Button and Pincture. -->
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="text-left">
                        <h1 class="fs-1 fw-bold abcars-color">Asistencia Vial</h1>
                        <h3 class="fs-4 fw-light">En ABcars no solo vendemos autos, vendemos tranquilidad.</h3>
                        <p class="fs-6 fw-light">Encuentra los mejores servicios y paquetes para tu vehículo.</p>
                    </div>

                    <button mat-raised-button type="button" class="btn abcars-background-color px-5 py-2 mt-4 mb-4 rounded-pill text-dark" [routerLink]="['/compra-tu-auto']">                                    
                        COMPRAR TU AUTO
                    </button>
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <img src="./assets/images/abcars-images/quiero-manejarlo.png" class="img-fluid" alt="Asistencia Vial Imagen" />              
                </div>
            </div>
        </div>
    </div>

    <!-- Packages -->
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <div class="row">
                <div class="text-center">
                    <h3 class="fs-2">Servicios <span class="fw-bold abcars-color">ABC</span> de Protección Total</h3>
                    <h3 class="fs-5 fw-light">Aprovecha todos los beneficios por ser cliente AB.</h3>                
                </div>
            </div>

            <!-- Packages -->
            <div class="row mt-4 mt-2">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">1er Mantenimiento de Póliza</h2>
                            <p class="card-text fw-light text-center">6,000 km o 4 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de aire.</li>
                                <li class="list-group-item">Limpieza: Inyectores y cuerpo de aceleración.</li>
                                <li class="list-group-item">Corrección de niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación, balanceo y desgaste anormal en llantas. </li>
                            </ul>
                            
                            <!-- <p class="fs-4 mt-3 mb-3">$123.45</p>
                            <button type="button" class="btn abcars-background-btn-black px-5 py-2 rounded-pill" [routerLink]="['/asistencia-vial/payments']">                                    
                                Comprar Ahora
                            </button> -->
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">2do Mantenimiento de Póliza</h2>
                            <p class="card-text fw-light text-center">12,000 km u 8 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de aire.</li>
                                <li class="list-group-item">Cambio: Filtro de gasolina en tuberías.</li>
                                <li class="list-group-item">Corregir niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Limpiar: Inyectores y cuerpo de aceleración.</li>
                                <li class="list-group-item">Cambiar si es necesario: Cubre polvos plásticos de flechas Homocinéticas.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Cambiar si es necesario: Balatas, líneas y mangueras de frenado.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación y balanceo desgaste anormal de llantas.</li>                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">3er Mantenimiento de Póliza</h2>
                            <p class="card-text fw-light text-center">18,000 km u 12 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de Aceite.</li>
                                <li class="list-group-item">Cambio: Bujías.</li>
                                <li class="list-group-item">Cambio: Filtro de gasolina en tuberías.</li>
                                <li class="list-group-item">Corregir niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Limpiar: Inyectores y cuerpo de aceleración.</li>
                                <li class="list-group-item">Cambiar si es necesario: Cubre polvos plásticos de fechas Homocinéticas.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Cambiar si es necesario: Balatas, líneas y mangueras de frenado.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación y balanceo desgaste anormal en llantas.</li>
                                <li class="list-group-item">Cambiar si es necesario: Amortiguadores, bujes y bieletas.</li>
                                <li class="list-group-item">Cambiar si es necesario: Banda de accesorios.</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Mantenimiento Preventivo fuera de Garantía</h2>
                            <p class="card-text fw-light text-center">28,000 km o 18 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de aire.</li>
                                <li class="list-group-item">Limpieza: Inyectores y cuerpo de aceleración.</li>
                                <li class="list-group-item">Corrección de niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación, balanceo y desgaste anormal en llantas.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Mantenimiento Preventivo fuera de Garantía</h2>
                            <p class="card-text fw-light text-center">38,000 km o 24 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor, de transmisión automatica y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de aire y filtro de bomba de gasolina.</li>
                                <li class="list-group-item">Cambio: Filtro de gasolina en tuberias.</li>                                
                                <li class="list-group-item">Corrección de niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Limpiar: Inyectores, cuerpo de aceleración y válvula PCV.</li>
                                <li class="list-group-item">Cambiar si es necesario: Cubre polvos plásticos de flechas Homocinéticas.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Cambiar si es necesario: Cables de bujías de motor.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación, balanceo y desgaste anormal en llantas.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Mantenimiento Preventivo fuera de Garantía</h2>
                            <p class="card-text fw-light text-center">48,000 km o 30 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de aire.</li>
                                <li class="list-group-item">Limpieza: Inyectores y cuerpo de aceleración.</li>
                                <li class="list-group-item">Corrección de niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación, balanceo y desgaste anormal en llantas.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card shadow zoom-element h-100">
                        <div class="card-body">
                            <h2 class="card-title text-center">Mantenimiento Preventivo fuera de Garantía</h2>
                            <p class="card-text fw-light text-center">58,000 km o 36 meses de uso</p>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cambio: Aceite de motor y filtro de aceite.</li>
                                <li class="list-group-item">Cambio: Filtro de aire.</li>
                                <li class="list-group-item">Cambio: Bujías.</li>
                                <li class="list-group-item">Cambio: Filtro de gasolina en tuberias.</li>
                                <li class="list-group-item">Corrección de niveles y fugas: Transmisión, sistema de enfriamiento, dirección y frenos.</li>
                                <li class="list-group-item">Limpieza: Inyectores y cuerpo de aceleración.</li>
                                <li class="list-group-item">Cambiar si es necesario: Cubre polvos plásticos de flechas Homocinéticas.</li>
                                <li class="list-group-item">Corregir y codificar: Diagnóstico de computadora.</li>
                                <li class="list-group-item">Cambiar si es necesario: Balatas, líneas y mangueras de frenado.</li>
                                <li class="list-group-item">Corregir si es necesario: Alineación, balanceo y desgaste anormal en llantas.</li>
                                <li class="list-group-item">Cambiar si es necesario: Amortiguadores, bujes y bieletas.</li>
                                <li class="list-group-item">Cambiar si es necesario: Banda de accesorios.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>