<div class="container" style="z-index: 2;">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-12 col-md-6 text-center"></div>

                <div class="col-12 col-md-6">
                    <h1 class="fs-3">
                        Obtenga una <span class="fw-bold fs-2">PRECALIFICACIÓN PARA UN AUTOMÓVIL</span>
                        en ABcars
                    </h1>

                    <p class="fw-light">
                        Autorizo para que consulte mi historial crediticio de acuerdo con los artículos 12 y 28 de la Ley para
                        Regular las Sociedades de Información Crediticia. Igualmente, declaro que conozco la naturaleza y 
                        alcance de la información que se solicitará.
                    </p>

                    <div class="btn-position">
                        <button mat-raised-button type="button" class="btn abcars-background-color px-5 py-2 mt-4 mb-4 rounded-pill text-dark" (click)="deleteLS()" [routerLink]="['/abc/financiamiento/solicitud/credit']">                                    
                            COTIZAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-financing-background">
    <img class="img-financing-background" src="/assets/images/abcars-images/precalificar_financiamiento.png" alt="Financing Background Image">
</div>