<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <div class="text-center">
                <h1 class="fs-2 fw-bold">Detalles de tu cita de servicio</h1>
                <h5 class="fs-5 fw-light">Proporciona la información requerida para continuar con tu cita de servicio.</h5>
            </div>
        </div>
    </div>

    <div class="row">        
        <!-- Form Client -->
        <div class="col-12 mb-5">
            <h2>Información de Contacto</h2>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- Name, Father Lastname and Mother Lastname -->
                <div class="row">
                    <!-- Name -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre(s)</mat-label>
                            <input matInput type="text" placeholder="Elizabeth" formControlName="name" required>
                            <mat-hint *ngIf="nameInvalid">Complete su nombre(s).</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Father and Mother Lastname -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input matInput type="text" placeholder="Olsen" formControlName="surname" required>
                            <mat-hint *ngIf="surnameInvalid">Complete sus apellidos.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Email -->
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput type="email" placeholder="a@b.c" formControlName="email" required>
                            <mat-hint *ngIf="emailInvalid">Ingrese un correo electrónico válido.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Phone, Service and Date Quote -->
                <div class="row">
                    <!-- Phone -->
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Número de Teléfono</mat-label>
                            <input matInput type="tel" placeholder="1234567890" formControlName="phone" #phone (keyup)="maxLengthCheck(phone)" maxlength="10" required>
                            <mat-hint *ngIf="phoneLength">Su número debe ser de 10 dígitos, verifique.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Service -->
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Servicio</mat-label>
                            <mat-select placeholder="Seleccionar su Servicio" formControlName="service" required>
                                <mat-option *ngFor="let service of services" value="{{ service.id }}">{{ service.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="!serviceInvalid">Consulta nuestros servicios <a class="abcars-color-hover text-decoration-none" [routerLink]="['/asistencia-vial']">aquí.</a></mat-hint>
                            <mat-hint *ngIf="serviceInvalid">Seleccione el servicio</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Date Quote -->
                    <div class="col-12 col-md-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Seleccionar fecha</mat-label>
                            <input matInput [matDatepickerFilter]="myFilter" placeholder="Día / Mes / Año" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint *ngIf="dateInvalid">Seleccione la fecha de su cita.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Brand and Model -->
                <div class="row">
                    <!-- Brand -->
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Marca del Vehículo</mat-label>
                            <mat-select placeholder="Seleccionar una Marca" formControlName="brand" required>
                                <mat-option *ngFor="let brand of brands" (click)="getModels(brand.id)" value="{{ brand.id }}">{{ brand.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="brandInvalid">Seleccione una Marca.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- Model -->
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Modelo del Vehículo</mat-label>
                            <mat-select placeholder="Seleccionar un modelo" formControlName="model" required>
                                <mat-option *ngFor="let model of models" value="{{ model.id }}">{{ model.name | titlecase }}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="modelInvalid">Seleccione un modelo.</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- VIN -->
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>VIN</mat-label>
                            <input matInput type="text" placeholder="00000000000000000X" formControlName="vin" (keyup)="convertMayus($event)" #vin (keyup)="maxLengthCheck(vin)" maxlength="17" required>
                            <mat-hint *ngIf="vinInvalid">Ingrese el vin de su vehículo.</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Checkbox -->
                <div class="row">
                    <div class="col-12 text-end">
                        <mat-checkbox formControlName="checkbox" required>
                            Acepto <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/privacidad-de-uso']">Aviso</a>,
                            <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/terminos-y-condiciones']">Términos y Condiciones</a>.
                        </mat-checkbox>
                    </div>
                </div>

                <!-- Button Submit -->
                <div class="row">
                    <div class="col-12 text-end">
                        <button mat-raised-button type="submit" [disabled]="form.invalid || spinner" class="btn abcars-background-color px-5 py-2 mt-4 rounded-pill text-dark">                                    
                            <span *ngIf="!spinner">CONTINUAR</span>
                            <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5 mx-auto text-center">
            <img src="assets/images/abcars-images/servicio-cita.png" width="70%" alt="Agendar tu cita de servicio">
        </div>    
    </div>
</div>