<!-- <p>quote-request works!</p> -->
<!-- <p>requestq works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <div class="text-center">
                <!-- <h1 class="fs-2 fw-bold">Cotiza tu Auto</h1> -->
                <!-- <h5 class="fs-5 fw-light">Proporciona tus datos y el enganche del auto de tus sueños.</h5> -->
                <h1 class="fs-2 fw-bold">Formulario de prospección</h1>
                <h5 class="fs-5 fw-light">Proporciona los datos que se solicitan.</h5>
            </div>

            <!-- Form -->
            <div class="row">
                <!-- Request quote-->
                <div class="col-12 mt-4">
                    <!-- <h4 class="heading-4 horizontal_line mb-4"><span>Elige el tipo de auto</span></h4> -->
                    <h4 class="heading-4 horizontal_line mb-4"><span>Prospectador o vendedor</span></h4>
                    <div class="row">
                        <form [formGroup]="requestQuoteFormGroup" (ngSubmit)="onSubmit()">
                            <div class="col-12">

                                <div class="row">

                                    <div class="col-12 col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Nombre(s)</mat-label>
                                            <input matInput type="text" placeholder="Escriba el nombre del prospectador" formControlName="prospectorName" required>
                                            <mat-hint *ngIf="prospectorNameInvalid">Complete su nombre(s).</mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Apellidos</mat-label>
                                            <input matInput type="text" placeholder="Escriba el apellido del prospectador" formControlName="prospectorSurname" required>
                                            <mat-hint *ngIf="prospectorSurnameInvalid">Complete sus apellidos.</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-12 col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Lugar de prospección U padel</mat-label>
                                            <!-- <input matInput type="text" placeholder="Lugar de prospección o evento" formControlName="placeProspection" required> -->
                                            <input matInput type="text" placeholder="Lugar de prospección o evento" formControlName="placeProspection">
                                            <!-- <mat-hint *ngIf="placeProspectionInvalid">Complete este campo por favor.</mat-hint> -->
                                        </mat-form-field>
                                    </div>

                                    <!-- <div class="col-12 col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Carrocería</mat-label>
                                            <mat-select placeholder="Seleccione una carroceía" formControlName="body" required>
                                                <mat-option *ngFor="let bodywork of allCarrocerias" (click)="selectBodyWork(bodywork)" value="{{ bodywork.name }}"> <img class="img-car" [src]=" '../../../../../../assets/icons/abcars-icons/bodyworksuno/' + bodywork.name + '.png' " alt="{{ bodywork.name }}"> {{ bodywork.name | titlecase }}</mat-option>
                                            </mat-select>
                                            <mat-hint *ngIf="bodyInvalid">Seleccione una carrocería.</mat-hint>
                                        </mat-form-field>
                                    </div> -->

                                    
                                    <!-- <div class="col-12 col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Marca</mat-label>
                                            <mat-select placeholder="Seleccionar una Marca" formControlName="brand" required>
                                                <mat-option *ngFor="let brand of my_brands" (click)="selected($event, 'brands')" value="{{ brand.name }}">{{ brand.name | titlecase }}</mat-option>
                                            </mat-select>
                                            <mat-hint *ngIf="brandInvalid">Seleccione una marca.</mat-hint>
                                        </mat-form-field>
                                    </div> -->

                                    
                                    <!-- <div class="col-12 col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Modelo</mat-label>
                                            <mat-select placeholder="Seleccionar un Modelo"  formControlName="model" >
                                                <mat-option *ngFor="let model of vehicles" value="{{ model.name }}" (click)="getVehicle(model.vin)"> {{ model.name | titlecase }}</mat-option>
                                            </mat-select>
                                            <mat-hint *ngIf="modelInvalid">Seleccione un modelo.</mat-hint>
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-12" *ngIf="table_view">
                                <div class="row">
                                    <!-- Pictures -->
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 mb-3">
                                        <!-- Swiper Thumbs -->
                                        <div class="row">
                                            <div class="col-12 col-12-swiper-thumbs">
                                                <div class="swiper-container my-swiper-thumbs-1">
                                                    <div class="swiper-wrapper my-swiper-wrapper-thumbs-1">
                                                        <div class="swiper-slide my-swiper-slide-thumbs-1" *ngFor="let image of imagesForSlider">
                                                            <div class="swiper-zoom-container">
                                                                <img class="img-swiper-thumbs-1" [src]="image.path" > <!--alt="Auto muestra"-->
                                                                <div id="img-2" style="background: url('{{image.path}}');"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="prevBtn" id="btn_previous_thumb">
                                                    <img class="img-btn-carousel" src="../../../../../../assets/icons/flecha_carrusel_izq.svg" alt="Auto Anterior">
                                                </button>
                                                <button class="nextBtn" id="btn_next_thumb">
                                                    <img class="img-btn-carousel" src="../../../../../../assets/icons/flecha_carrusel_der.svg" alt="Auto Siguiente">
                                                </button>
                                            </div>
                                        </div>
                                        <!-- <div class="row row-carousel-th">
                                            <div class="col-12 mt-1">
                                                <div class="swiper-container my-swiper-thumbs-2">
                                                    <div class="swiper-wrapper my-swiper-wrapper-thumbs-2">
                                                        <div class="swiper-slide my-swiper-slide-thumbs-2" *ngFor="let image of imagesForSlider">
                                                            <img class="img-swiper-thumbs-2" [src]="image.path" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="prevBtn ms-2" id="btn_previous_thumb">
                                                <img class="img-btn-carousel" src="../../../../../../assets/icons/flecha_carrusel_izq.svg" alt="Auto Anterior">
                                            </button>
                                            <button class="nextBtn me-2" id="btn_next_thumb">
                                                <img class="img-btn-carousel" src="../../../../../../assets/icons/flecha_carrusel_der.svg" alt="Auto Siguiente">
                                            </button>
                                        </div> -->
                                    </div>
                                    <!-- Main Detail Vehicle -->
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 mb-3">
                                        <div #divZoom id="div-zoom" class="div-zoom-no-active"></div>
                                        <h1>{{ vehicle != undefined ? (vehicle.name) : '' }}</h1>
                                        <div class="row">
                                            <div class="row" *ngIf="!priceOffer">
                                                <div class="col-12">
                                                    <p class="fw-light">Compra por:</p>
                                                    <span class="fs-4 fw-bold abcars-color">${{ vehicle != undefined ? (vehicle.price | number:'.2-2') : '' }}</span>
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="priceOffer">
                                                <div class="col-12">
                                                    <p class="fw-light">Compra por:</p>
                                                    <span class="fs-4 fw-bold abcars-offer"><del>${{ vehicle != undefined ? (vehicle.price | number:'.2-2') : '' }}</del></span>
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="priceOffer">
                                                <div class="col-12">
                                                    <p class="fw-light">Precio de oferta:</p>
                                                    <span class="fs-4 fw-bold abcars-color">${{ vehicle != undefined ? (vehicle.priceOffer | number:'.2-2') : '' }}</span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h6 class="fw-bold fs-5 mt-3 mb-2">¡Oportunidad!</h6>
                                                <p style="margin: 0 0 0px" *ngFor="let description of descriptions"> {{ description }}</p> <!--<i class="far fa-check-circle" style="color: #EEB838;"></i>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-4">
                                <h4 class="heading-4 horizontal_line mb-4"><span>Datos</span></h4>
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Name, Surname, Email, Phone -->
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Nombre(s)</mat-label>
                                                    <input matInput type="text" placeholder="Robert" formControlName="name" required>
                                                    <mat-hint *ngIf="nameInvalid">Complete su nombre(s).</mat-hint>
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-12 col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Apellidos</mat-label>
                                                    <input matInput type="text" placeholder="Downey" formControlName="surname" required>
                                                    <mat-hint *ngIf="surnameInvalid">Complete sus apellidos.</mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-12 col-md-4">                                        
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Correo Electrónico</mat-label>
                                                    <input matInput type="email" placeholder="a@b.c" formControlName="email" required>
                                                    <mat-hint *ngIf="emailInvalid">Ingrese un correo electrónico válido.</mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <!-- CHeckbox -->
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Número de Teléfono</mat-label>
                                                    <input matInput type="tel" placeholder="1234567890" #phone (keyup)="maxLengthCheck(phone)" maxlength="10" formControlName="phone" required>     
                                                    <mat-hint *ngIf="phoneInvalid">Ingrese un número telefónico válido.</mat-hint>                                                                 
                                                </mat-form-field> 
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>¿Cuál es la siguiente acción para ese prospecto?</mat-label>
                                                    <input matInput type="text" placeholder="Llamar, Enviar cotización, Agendar cita en agencia, Visita a domicilio." formControlName="next" required>
                                                    <mat-hint *ngIf="nextInvalid">Complete este campo por favor.</mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="row">
                                                    <!-- Commentary  -->
                                                    <div class="col">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Comentario del prospecto.</mat-label>
                                                            <textarea matInput placeholder="Comentario del prospecto" formControlName="commentaryLead"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-12 col-md-6 mb-2">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>¿Le gustaría comprar a crédito, contado, o un plan de renta?</mat-label>
                                                    <mat-select placeholder="Seleccionar el tipo de compra "  formControlName="buyType" required>
                                                        <mat-option value="Renta">Renta</mat-option>
                                                        <mat-option value="Credito">Crédito</mat-option>
                                                        <mat-option value="Contado">Contado</mat-option>
                                                        <mat-option value="Quiero conocer todas las opciones">Quiero conocer todas las opciones</mat-option>
                                                    </mat-select>
                                                    <mat-hint *ngIf="buyTypeInvalid">Seleccione Crédito/Contado/Renta/Todas las opciones.</mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>¿Cuando desea estrenar?</mat-label>
                                                    <mat-select placeholder="Elija la opción correspondiente" formControlName="wantRelease" required>
                                                        <mat-option value="Después de 6 meses">Después de 6 meses</mat-option>
                                                        <mat-option value="De 3 a 6 meses">De 3 a 6 meses</mat-option>
                                                        <mat-option value="Pronto, pero aún estoy planificando mi compra. (de 1 a 4 meses)">Pronto, pero aún estoy planificando mi compra. (de 1 a 4 meses)</mat-option>
                                                        <mat-option value="Me urge, busco un vehículo disponible para entrega inmediata (-1 mes)">Me urge, busco un vehículo disponible para entrega inmediata (-1 mes)</mat-option>
                                                        <mat-option value="Más de 4 meses">Más de 4 meses.</mat-option>
                                                        <mat-option value="Menos de 1 año">Menos de 1 año.</mat-option>
                                                    </mat-select>
                                                    <mat-hint *ngIf="wantReleaseInvalid">Seleccione una opción.</mat-hint>
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>--Crédito-- ¿Inversión inicial estimada?</mat-label>
                                                    <mat-select placeholder="Elija la opción correspondiente" formControlName="initialCredit" required>
                                                        <mat-option value="Más de 70 mil pesos">Más de 70 mil pesos</mat-option>
                                                        <mat-option value="De 30 mil a 50 mil pesos">De 30 mil a 50 mil pesos</mat-option>
                                                        <mat-option value="Me interesa dejar mi vehículo a cuenta">Me interesa dejar mi vehículo a cuenta</mat-option>
                                                    </mat-select>
                                                    <mat-hint *ngIf="initialCreditInvalid">Seleccione una opción.</mat-hint>
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-12 col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>¿Cuál es su situación profesional actualmente?</mat-label>
                                                    <mat-select placeholder="Elija la opción correspondiente" formControlName="WhatsCurrentProfessionalSituation" required>
                                                        <mat-option value="Profesional del sector publico o privado">Profesional del sector publico o privado</mat-option>
                                                        <mat-option value="Empresa (persona moral)">Empresa (persona moral)</mat-option>
                                                        <mat-option value="Empresario o inversionista">Empresario o inversionista</mat-option>
                                                        <mat-option value="Profesional indepeniente (pfae y p)">Profesional indepeniente (pfae y p)</mat-option>
                                                    </mat-select>
                                                    <mat-hint *ngIf="WhatsCurrentProfessionalSituationInvalid">Seleccione una opción.</mat-hint>
                                                </mat-form-field>
                                            </div> -->

                                            <!-- <div class="col-12 col-sm-12 col-md-6">
                                                <div class="row">
                                                    Commentary 
                                                    <div class="col">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Comentario del lead.</mat-label>
                                                            <textarea matInput placeholder="Comentario del lead" formControlName="commentaryLead"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="col-12 text-end">
                                                <mat-checkbox formControlName="checkbox" required>
                                                    Acepto <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/privacidad-de-uso']">Aviso</a>,  
                                                    <a class="fw-bold abcars-color-hover text-decoration-none" [routerLink]="['/externals/terminos-y-condiciones']">Términos y Condiciones</a>.
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3 text-end">
                                <button mat-button type="submit" class="btn abcars-background-color rounded-pill text-dark mx-2"
                                    [disabled]="requestQuoteFormGroup.invalid" spinner> <!--  -->
                                    <span *ngIf="!spinner">Enviar</span> <!--  -->
                                    <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <span>Valid</span>
            <pre>{{ requestQuoteFormGroup.valid | json }}</pre>
            
            <span>Invalid</span>
            <pre>{{ requestQuoteFormGroup.invalid| json }}</pre>
            
            <span>Value</span>
            <pre>{{ requestQuoteFormGroup.value | json }}</pre>



        </div>
    </div> -->
</div>
