<p>reportdetails works!</p>
<a class="fw-bold m-4 mt-5  text-dark text-decoration-none " [routerLink]="['/reportPhoto']">
    <i class="fas fa-arrow-left"></i> volver
</a>
    <div *ngIf="data" class="container py-5">
      <!-- <div class="row">
        <img src="https://abcars.mx/assets/images/logo.svg"
          style="margin: auto ; display: block;  width:250px; height:100px" class="d-inline-block align-top" alt="">
        <hr>
      </div> -->
      <h1 class="fw-bold"> Vin: {{vin}}</h1>
  
      <!--Sección de las cartas para visualizar los detalles de los autos, se puede modificar los detalles si se requiere-->
      <div class="containerss">
        <div class="card" *ngFor="let image of data">
          <img src="https://sandbox.abcars.mx/abcars-backend/api/getSetImage/{{image}}/{{vin}}" alt="Descripción de la imagen">
        </div>
    </div>