<!-- <p>automotive works!</p> -->
<div class="container">
    <section>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-1">
                <div class="image_box" style="background-image: url('/assets/images/abcars-images/SERVICIO.png'); background-repeat:no-repeat; background-size:cover;">
                    <!-- <img src="assets/images/abcars-images/SERVICIO.png" alt="imagen" class="image_car_mechanic"> -->
                    <!-- <img src="assets/images/abcars-images/rectangle.svg" alt="imagen" class="footer_image_car"> -->
                </div>            
            </div>
            
            <div class="col-lg-5 col-md-12 col-sm-12 mt-5 mb-5">
                <p class="info-text">
                    Servicios de mantenimiento con atención mecánica especializada
                </p>
                <h3 class="mt-10">
                    Realizando nuestros servicios extiendes la vida de tu auto, te ocupas de tu seguridad y te aseguras de que no pierda valor.*
                </h3>
                <div class="col-6 text-end">                        
                    <button mat-button type="button" class="btn abcars-background-color-blue rounded-pill mx-2 px-3" (click)="automotiveForm()">
                        <span>AGENDAR CITA</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-1">
                <div class="image_box" style="background-image: url('/assets/images/abcars-images/HYP.png'); background-repeat:no-repeat; background-size:cover;">
                    <!-- <img src="assets/images/abcars-images/SERVICIO.png" alt="imagen" class="image_car_mechanic"> -->
                    <!-- <img src="assets/images/abcars-images/rectangle.svg" alt="imagen" class="footer_image_car"> -->
                </div>            
            </div>
            
            <div class="col-lg-5 col-md-12 col-sm-12 mt-5 mb-5">
                <p class="info-text">
                    Hojatería y Pintura
                </p>
                <h3 class="mt-10">
                    Nuestro servicio de hojalatería y pintura ofrece soluciones confiables para la reparación y mantenimiento de la carrocería de tu vehículo. Utilizamos técnicas y materiales de última generación para garantizar que tu vehículo reciba el mejor tratamiento y la mayor calidad en todos nuestros servicios.
                </h3>
                <div class="col-6 text-end">                        
                    <button mat-button type="button" class="btn abcars-background-color-blue rounded-pill mx-2 px-3" (click)="automotiveForm()">
                        <span>AGENDAR CITA</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 px-1">
                <div class="image_box" style="background-image: url('/assets/images/abcars-images/REFACCIONES.png'); background-repeat:no-repeat; background-size:cover;">
                    <!-- <img src="assets/images/abcars-images/SERVICIO.png" alt="imagen" class="image_car_mechanic"> -->
                    <!-- <img src="assets/images/abcars-images/rectangle.svg" alt="imagen" class="footer_image_car"> -->
                </div>            
            </div>
            
            <div class="col-lg-5 col-md-12 col-sm-12 mt-5 mb-5">
                <p class="info-text">
                    Refacciones
                </p>
                <h3 class="mt-10">
                    Contamos con un equipo de profesionales capacitados, precios competitivos y un servicio excepcional al cliente. No comprometas la seguridad de tu automóvil, confía en nosotros para obtener las mejores refacciones. ¡Te esperamos!
                </h3>
                <div class="col-6 text-end">                        
                    <button mat-button type="button" class="btn abcars-background-color-blue rounded-pill mx-2 px-3" (click)="automotiveForm()">
                        <span>AGENDAR CITA</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>