#landing {
    padding: 2%;
    width: 100%;
}

.content {
    padding: 0 6%;
    margin-bottom: 5%;
}

.content hr {
    margin: 20px 0;
    border: 2px solid #B6832D;
    width: 8%;
}

.btn-color {
    background-color: #008bcc !important;
    color: #fff !important;
}