<div class="container pb-5">
    <img src="./../../assets/images/landings/desktop.jpg" alt="landing" class="img-desktop">
    <img src="./../../assets/images/landings/mobile.jpg" alt="landing" class="img-mobile">
</div>
<div class="content">
    <h2 class="contact-title">Información de contacto</h2>
    <hr>
    <form [formGroup]="form"  #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name" required>
                    <mat-hint class="text-danger" *ngIf="nameInvalid">Complete su nombre(s).</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" formControlName="lastName" required>
                    <mat-hint class="text-danger" *ngIf="surnameInvalid">Complete sus apellidos.</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Whatsapp</mat-label>
                    <input matInput type="tel" #phone (keyup)="maxLengthCheck(phone)" maxlength="10" formControlName="phone" required>     
                    <mat-hint class="text-danger" *ngIf="phoneInvalid">Ingrese un número telefónico válido.</mat-hint>                                                                 
                </mat-form-field>
            </div>
            <div class="col-md-8 col-sm-12">
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="email" formControlName="email" required>
                    <mat-hint class="text-danger" *ngIf="emailInvalid">Ingrese un correo electrónico válido.</mat-hint>
                </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-6">
                <mat-form-field>
                    <mat-label>¿Cuando deseas comprar?</mat-label>
                    <mat-select #fontSize formControlName="to_purchase">
                        <mat-option value="en_3_meses">En 3 meses</mat-option>
                        <mat-option value="en_6_meses">En 6 meses</mat-option>
                        <mat-option value="en_9_meses">En 9 meses</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field>
                    <mat-label>¿Cómo deseas comprar?</mat-label>
                    <mat-select #fontSize formControlName="type_purchase">
                        <mat-option value="crédito">A crédito</mat-option>
                        <mat-option value="contado">De contado</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field>
                    <mat-label>Inversión inicial</mat-label>
                    <input matInput type="number" formControlName="initial_investment" required>
                    <mat-hint class="text-danger" *ngIf="initialInvestmentInvalid">Ingrese una cantidad</mat-hint>                                                                 
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field>
                    <mat-label>¿Cual es tu situación profesional actual?</mat-label>
                    <mat-select #fontSize formControlName="profession">
                        <mat-option value="Empresario o inversionsta">Empresario o inversionsta</mat-option>
                        <mat-option value="Profesional independiente">Profesional independiente</mat-option>
                        <mat-option value="Profesional del sector publico o privado">Profesional del sector publico o privado</mat-option>
                        <mat-option value="Empresa (persona moral)">Empresa (persona moral)</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-8 col-md-4 mx-auto text-center mt-5">
                <button mat-raised-button type="submit" class="btn px-4 py-2 btn-color" [disabled]="form.invalid || spinner">                                    
                    <span *ngIf="!spinner">Enviar</span>
                    <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>                                    
                </button>                                                                                                          
            </div>
        </div>
    </form>    
</div>