#landing {
    padding: 2%;
    width: 100%;
}

.content {
    padding: 0 6%;
    margin-bottom: 5%;
}

.content hr {
    margin: 20px 0;
    border: 2px solid #B6832D;
    width: 8%;
}

.btn-color {
    background-color: #008bcc !important;
    color: #fff !important;
}

.img-mobile {
    width: 100%;
    display: none;
}

.img-desktop {
    width: 100%;
    display: block;
}

.contact-title {
    font-size: x-large;
    text-align: center; /* Centra el texto */
    font-weight: bold;  /* Negrita */
}

/* Cuando la pantalla sea menor a 768px (ejemplo para móviles) */
@media (max-width: 768px) {
    .img-mobile {
        display: block;
    }
    .img-desktop {
        display: none;
    }
}