<div class="container">
    <div class="row">    
        <div class="col-12 mt-5 mb-5 mx-auto text-center">    
            <img class="rounded mx-auto d-block" width="170" src="assets/icons/not-authorized.svg" alt="Not Authorized" />                    
            <h1 class="fw-bold mt-5">NO AUTORIZADO</h1>
            <p class="lead">
                Lo sentimos por el momento no es posible autorizar tu acceso, intenta nuevamente más tarde.
                <br>
                En caso de continuar con el problema por favor contactar a soporte de ABCars.mx
            </p>

            <div class="mt-3">
                <button mat-raised-button class="btn abcars-background-color px-5 py-1 mx-3 rounded-pill text-dark" [routerLink]="['']">                                    
                    Inicio
                </button>
            </div>
        </div>    
    </div>
</div>