<div class="container">
    <div class="row">
        <div class="col-12 text-center mx-auto mt-5 mb-5">            
            <h1 class="fw-bold">Felicidades has realizado tu proceso con éxito.</h1>            
            <img class="rounded mx-auto d-block" width="350" src="assets/icons/saved-process.svg" alt="Process Successful" />
            <button mat-raised-button [routerLink]="['']"
                class="btn abcars-background-color-black px-5 py-2 mt-4 rounded-pill">
                FINALIZAR
            </button>
        </div>
    </div>
</div>