<div class="container">
    <div class="row flex-lg-row-reverse">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-5 mb-5">            
            <h1 class="fs-2">
                Al comprar en ABcars obtienes:
                <span class="fw-bold">"Seguridad y Asistencia"</span> que van contigo
            </h1>
            
            <p class="fw-light">
                El hecho de que su automóvil este usado no significa que no pueda protegerlo
                como si fuera nuevo. ABcars ofrece una cobertura que le da la seguridad de
                conducir un automóvil usado con el respaldo de garantía.
            </p>

            <!-- Carousell -->
            <carousel class="carousel-html-content" [cellWidth]="200" [height]="350">
                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center">
                            <img class="card-img-top w-75 mx-auto" src="assets/icons/abcars-icons/icon-1.svg" alt="Icon 1">                                
                            <p class="fw-normal fs-6">Cada vehículo</p>
                            <p class="fw-normal fs-6">es revisado legal y</p>
                            <p class="fw-normal fs-6">mecánicamente</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center mx-auto">
                            <img class="card-img-top w-75" src="assets/icons/abcars-icons/icon-2.svg" alt="Icon 2">
                            <p class="fw-normal fs-6">La que nos permite</p>
                            <p class="fw-normal fs-6">brindarte hasta <span class="fw-bold">14</span></p>
                            <p class="fw-normal fw-bold fs-6">meses de garantía</p>
                            
                        </div>
                    </div>
                </div>
                
                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center mx-auto">
                            <img class="card-img-top w-75" src="assets/icons/abcars-icons/icon-3.svg" alt="Icon 3">
                            <p class="fw-normal fw-bold fs-6">Asistencia vial</p>
                            <p class="fw-normal fs-6">y mantenimientos</p>
                            <p class="fw-normal fs-6">a precio preferencial</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="card h-100">
                        <div class="text-center mx-auto">
                            <img class="card-img-top w-75" src="assets/icons/abcars-icons/icon-4.svg" alt="Icon 4">                                
                            <p class="fw-normal fw-bold fs-6">Auto de repuesto</p>
                            <p class="fw-normal fs-6">si su vehículo es</p>
                            <p class="fw-normal fs-6">inmovilizado por avería</p>
                        </div>
                    </div>
                </div>
            </carousel>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-5 text-center">
            <img class="img-fluid" src="assets/images/abcars-images/garantia-extendida.png" alt="Garantía Extendida Imagen">
        </div>

    </div>
</div>