/* You can add global styles to this file, and also import other style files */

:root {
    --abcars-color: #EEB838;
    --abcars-offer: #7C8183;
    --abcars-color-light: rgb(235, 210, 154);
    --abcars-color-secondary: #7C8183;
    --abcars-color-black: #474849;
    --abcars-color-card: #F2F2F2;
    --abcars-color-danger: #d9534f;
    --abcars-color-blue: #1057DB;
    --price-title:  20px;
    --price-promo:  8px;
    --font-generic: 14px;
}

body {
    margin: 0;
}

button {
    text-transform: uppercase;
}

li {
    cursor: pointer;
}

.mat-horizontal-content-container {
    overflow: visible !important;
}

.mat-typography {
    font-family: 'Mulish', sans-serif !important;
}


/* Colors ABCars Main */

.abcars-color {
    color: var(--abcars-color);
}

.abcars-offer {
    color: var(--abcars-offer);
}

.abcars-color-hover {
    color: var(--abcars-color);
}

.abcars-color-hover:hover {
    color: var(--abcars-color-secondary);
}

.abcars-color-nav-primary {
    background-color: var(--abcars-color);
    border-color: var(--abcars-color);
    color: white;
}

.abcars-color-blue{
    background-color: #1057DB;
    transition: 0.5s !important;
    background-size: 200% auto !important;
    border-radius: 20px !important;
}

/* Button Color Main */

.abcars-background-color {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%) !important;
    transition: 0.5s !important;
    background-size: 200% auto !important;
    box-shadow: 0 0 20px #eee !important;
    border-radius: 20px !important;
}
.abcars-background-color-yellow {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%) !important;
    transition: 0.5s !important;
    background-size: 200% auto !important;
    box-shadow: 0 0 20px #eee !important;
}

.abcars-background-color-blue {
    background-color: var(--abcars-color-blue) !important; 
    border-color: var(--abcars-color-blue) !important;
    color: white !important; 
}

.abcars-background-color-blue {
    background-color: var(--abcars-color-blue) !important; 
    border-color: var(--abcars-color-blue) !important;
    color: white !important; 
}

.abcars-background-color:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.abcars-background-color-secondary {
    background-color: var(--abcars-color-secondary);
    border-color: var(--abcars-color-secondary);
    color: white;
}

.abcars-background-color-danger {
    background-color: var(--abcars-color-danger);
    border-color: var(--abcars-color-danger);
    color: white !important;
}

.abcars-background-color-black {
    background-color: var(--abcars-color-black) !important;
    border-color: var(--abcars-color-black) !important;
    color: white !important;
}

.abcars-background-color-black:hover {
    background-color: var(--abcars-color-black) !important;
    border-color: var(--abcars-color-black) !important;
    color: var(--abcars-color) !important;
}

.abcars-background-btn-black {
    background-color: var(--abcars-color-black) !important;
    border-color: var(--abcars-color-black) !important;
    color: white !important;
}

.abcars-background-btn-black:hover {
    background-color: var(--abcars-color-secondary) !important;
    border-color: var(--abcars-color-secondary) !important;
    color: white !important;
}

.abcars-color-btn-secondary {
    background-color: var(--abcars-color-secondary) !important;
    border-color: var(--abcars-color-secondary) !important;
    color: white !important;
}


/* Cards background */

.abcars-background-card-home {
    background-color: var(--abcars-color-card) !important;
    border-color: var(--abcars-color-card) !important;
    border: 0px !important;
}

.card-tittle-home{
    padding-left: 5%;
}

/* checkbox */
.mat-mdc-checkbox.mat-accent {

    --mdc-checkbox-selected-focus-icon-color: #FFCB54;
    --mdc-checkbox-selected-hover-icon-color: #FFCB54;
    --mdc-checkbox-selected-icon-color: #FFCB54;
    --mdc-checkbox-selected-pressed-icon-color: #FFCB54;
}

.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple {
    background: #FFCB54;
}


/* Styles of Components */

c-vender-autos-vehicle {
    cursor: pointer;
}

c-vender-autos-vehicle.pic img {
    height: 180px !important;
}


/* Prevent to download images */

img {
    pointer-events: none;
}

mat-form-field {
    width: 100%;
}


/* Change Colors mat-form-field */
.mat-focused .mat-form-field-label {
    color: #707070 !important;
}

.mat-form-field-appearance-outline.mat-focused .mdc-text-field--focused .mdc-notched-outline__trailing {
    color: #FFCB54 !important;
    border-color: #FFCB54 !important;
}


.mat-form-field-appearance-outline.mat-focused .mdc-text-field--focused .mdc-notched-outline__leading {
    color: #FFCB54 !important;
    border-color: #FFCB54 !important;
}

.mat-form-field-appearance-outline.mat-focused .mdc-text-field--focused .mdc-notched-outline__notch {
    color: #FFCB54 !important;
    border-color: #FFCB54 !important;

}

.mat-form-field-appearance-outline.mat-focused .mdc-text-field--focused .mdc-notched-outline__notch .mdc-floating-label--float-above {
    color: #FFCB54 !important;
}

.mat-line{
    display: inline-flex;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 13px;
}

.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected, .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
    --mdc-chip-elevated-container-color: #FFCB54;
    --mdc-chip-elevated-disabled-container-color: #FFCB54;
    
}

.material-icons {
    font-size: 13px;
}

.mat-mdc-list-item-unscoped-content .mat-icon {
    padding-top: 12px;
}

.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #FFCB54 !important;
    --mdc-slider-focus-handle-color: #FFCB54 !important;
    --mdc-slider-hover-handle-color: #FFCB54 !important;
    --mdc-slider-active-track-color: #FFCB54 !important;
    --mdc-slider-inactive-track-color: #FFCB54 !important;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #FFCB54 !important;
    --mat-mdc-slider-ripple-color: #FFCB54 !important;
    --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
    --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
}

/* Style mat-slide-toggle */
.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #EEB838 !important;
    --mdc-switch-selected-handle-color: #EEB838 !important;
    --mdc-switch-selected-hover-state-layer-color: #EEB838 !important;
    --mdc-switch-selected-pressed-state-layer-color: #EEB838 !important;
    --mdc-switch-selected-focus-handle-color: #EEB838 !important; 
    --mdc-switch-selected-hover-handle-color: #FFCB54 !important;
    --mdc-switch-selected-pressed-handle-color: #FFCB54 !important;

    --mdc-switch-selected-focus-track-color: #FFCB54 !important; 
    --mdc-switch-selected-hover-track-color: #FFCB54 !important;
    --mdc-switch-selected-pressed-track-color: #FFCB54 !important;
    --mdc-switch-selected-track-color: #FFCB54;
}

/* Change color checkbox */

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #383838 !important;
}


/* Styles General Elements DOM */

.ns-resize {
    cursor: ns-resize;
}


/* Styles of data table */
.example-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}
table {
    width: 800px;
}
td.mat-column-star {
    width: 50px;
    padding-right: 8px;
}
th.mat-column-position, td.mat-column-position {
    padding-left: 15px;
}

table {
    width: 100%;
    height: 200px;
    overflow: auto;
}

@media(max-width:650px)
{
    .td__mag{
        display: inline-block;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center center;
        text-align: center;
        margin-top: 20px;
        height: 50px
    }
    .td__mm{
        display: inline-block;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        justify-content: center center;
        text-align: center;
        margin-top: 20px;
        height: 60px;
    }
    .td__table{
        justify-content: space-between;
        margin-right: 7px;
    }
    .th__table
    {
        display: none;
    }
    .td__table[data-titulo]{
        display: flex;
        flex-direction: row;
    }
    .td__table[data-titulo]::before{
        content: attr(data-titulo);
        text-transform: uppercase;
        width: 80px;
        margin-left: 7px;
        font-weight: 700;
    }
    .td__table:first-child{
        margin-top: 25px;
    }
}
.td__table:first-child{
    padding-right: 15px;
}
.in::placeholder{
    color: black;
    font-weight: bold;
}

/* Este estilo se tiene que eliminar */
.mat-paginator {
    background: #fff0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}
.mat-expansion-panel-body{
    padding: 0;
    margin-bottom: 10px;
}

.dragImaCars {
    border: rgba(0, 0, 0, 0.336) 2px dotted;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerl {
    margin: 0 auto;
    border-radius: 10px;
}

.img-cars {
    width: 100%;
}

.imgCars {
    margin: 0;
    border: 30px solid transparent;
    width: 100%;
}

/* Styles of dataTable */

.gridOtros {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

@media(max-width:650px) {
    .gridOtros {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}