<div class="container">

    <div class="row">
        
        <!-- Vehicles -->
        <div class="row"> 
            <ng-container *ngIf="(!vehicle); else elseTemplate">
                <div class="col-12">
                    <div class="sk-cube-grid">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>
                </div>
            </ng-container>

            <ng-template #elseTemplate>

                <!-- Breadcrumb & Share -->
                <div class="row">
                    <!-- Breadcrumb -->
                    <div class="col-12 mt-5">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">

                                <li class="breadcrumb-item" [routerLink]="['/admin/seller']">Overview</li>
                                <li class="breadcrumb-item" [routerLink]="['/admin/seller/vehicle-list']" aria-current="page">Gestionar Vehiculos</li>
                                <li class="breadcrumb-item active" aria-current="page">{{ vehicle != undefined ? (vehicle.carmodel.name | titlecase) : ''}}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
        
                <!-- Pictures & Details -->
                <div class="row marginContentLeft">
                    <!-- Pictures -->
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 mb-3">
                        <!--Prueba Swiper Thumbs-->
                        <div class="row row-thumb">
                            <div class="col-12 col-12-swiper-thumbs">
                                <div class="swiper-container my-swiper-thumbs-1">
                                    <div class="swiper-wrapper my-swiper-wrapper-thumbs-1">
                                        <div class="swiper-slide my-swiper-slide-thumbs-1" *ngFor="let image of imagesForSlider">
                                            <div class="swiper-zoom-container">
                                                <img class="img-swiper-thumbs-1" [src]="image.path" />
                                                <div id="img-2" style="background:url('{{image.path}}')"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-carousel-th">
                            <div class="col-12 mt-1">
                                <div class="swiper-container my-swiper-thumbs-2">
                                    <div class="swiper-wrapper my-swiper-wrapper-thumbs-2">
                                        <div class="swiper-slide my-swiper-slide-thumbs-2" *ngFor="let image of imagesForSlider">
                                            <img class="img-swiper-thumbs-2" [src]="image.path" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="prevBtn ms-2" id="btn_previous_thumb">
                                <img class="img-btn-carousel" src="../../assets/icons/flecha_carrusel_izq.svg" alt="Flecha Anterior">
                            </button>
                            <button class="nextBtn me-2" id="btn_next_thumb">
                                <img class="img-btn-carousel" src="../../assets/icons/flecha_carrusel_der.svg" alt="Flecha Siguiente">
                            </button>
                        </div>
                    </div>
                    <!-- Main Details Vehicle -->
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 mb-3">
                        <div #divZoom id="div-zoom" class="div-zoom-no-active"></div>
                        <h1>{{ vehicle != undefined ? (vehicle.name) : ''}}</h1>
                        <!-- Reserved & Button Shared -->
                        <div class="row marginContentLeft">
                            <div class="row marginContentLeft" *ngIf="!priceOffer">
                                <div class="col-12">
                                    <p class="fw-light">Compra por:</p>
                                    <span class="fs-4 fw-bold abcars-color">${{ vehicle != undefined ? (vehicle.price | number:'.2-2') : '' }}</span> <!-- vehicle.salePrice -->
                                </div>
                            </div>
                            
                            <div class="row marginContentLeft" *ngIf="priceOffer">
                                <div class="col-12">
                                    <p class="fw-light">Compra por:</p>
                                    <span class="fs-4 fw-bold abcars-offer"><del>${{ vehicle != undefined ? (vehicle.price | number:'.2-2') : '' }}</del></span> <!-- vehicle.salePrice -->
                                </div>
                            </div>
                            
                            <div class="row marginContentLeft" *ngIf="priceOffer">
                                <div class="col-12">
                                    <p class="fw-light">Precio de oferta:</p>
                                    <span class="fs-4 fw-bold abcars-color">${{ vehicle != undefined ? (vehicle.priceOffer | number:'.2-2') : '' }}</span>
                                </div>
                            </div>
                            
                            <div class="col-12 mt-5 mb-4">
                                <button type="button" class="marginButtons btn abcars-background-color-yellow  mx-2 px-3 text-dark" (click)="askInformation(vehicle)">
                                    MÁS INFORMACIÓN
                                </button>
                            </div>
                            <!-- Buttons -->    
                            <div class="row marginContentLeft">
                                <h6 class="fw-bold fs-5 mb-2">¡Oportunidad!</h6>
                                <p style="margin: 0 0 0px" *ngFor="let description of descriptions"> {{ description }}</p> <!--<i class="far fa-check-circle" style="color: #EEB838;"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid #707070;">
                
                <div class="row marginContentLeft" *ngIf="shields.length > 0">
                    <div class="col-12 mb-4">
                        <div class="row text-center">
                            <div class="col-6 col-md-6 col-xl-4 mb-3" *ngFor="let shield of shields">
                                <img class="rounded-start" src="{{ baseUrl }}/api/shields/imagen/{{ shield.path }}" width="80%" alt="{{ shield.name }}" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Features -->
                <div class="row">
                    <div class="col-12 mt-4 mb-4">
                        <h2 class="fw-bold fs-3 mb-3">Características</h2>
        
                        <div class="row" style="margin-left: -10px;">
                            <div class="container">
                                <div class="row marginContentLeft row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-3">
                                    <!-- Brand -->
                                    <div class="col">                            
                                        <div class="details-bg">
                                            <img class="rounded-circle" src="assets/icons/abcars-icons/details-vehicle/marca.png" width="32" height="32" alt="Icon Brand Vehicle" />
                                            <span class="detail-text">Marca</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.carmodel.brand.name | titlecase) : '' }}</span>
                                        </div>
                                    </div>
        
                                    <!-- Color Externo -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/pantone.png" width="32" height="32" alt="Icon Color Vehicle" />
                                            <span class="detail-text">Color exterior</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.colorExt | titlecase) : '' }}</span>
                                        </div>
                                    </div>
                                    <!-- Cylinders -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/piston.png" width="32" height="32" alt="Icon Cylinders Vehicle" />
                                            <span class="detail-text">Cilindros</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.cylinders) : '' }}</span>
                                        </div>
                                    </div>
                                    <!-- Year -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/calendario.png" width="32" height="32" alt="Icon Year Vehicle" />
                                            <span class="detail-text">Año</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.yearModel) : '' }}</span>
                                        </div>
                                    </div>
                                    <!-- Mileage -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/camino.png" width="32" height="32" alt="Icon Mileage Vehicle" />
                                            <span class="detail-text">Kilometraje</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.km | number) : '' }} km</span>
                                        </div>
                                    </div>
                                    <!-- Carline -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img class="rounded-circle" src="assets/icons/abcars-icons/details-vehicle/carroceria.png" width="32" height="32" alt="Icon Carline Vehicle" />
                                            <span class="detail-text">Carrocería</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.vehiclebody.name | titlecase) : '' }}</span>
                                        </div>
                                    </div>
                                    <!-- price -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/dolar.png" width="32" height="32" alt="Icon Carline Vehicle" />
                                            <span class="detail-text">Precio</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.price | number) : '' }}</span>
                                        </div>
                                    </div>
                                    <!-- Location -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/ubicacion.png" width="32" height="32" alt="Icon Location Vehicle" />
                                            <span class="detail-text">Ubicación</span>
                                            <span class="detail-content fw-bold">{{ locationVeh != undefined ? (locationVeh):(vehicle.branch.state.name | titlecase) }}</span>
                                        </div>
                                    </div>
                                    <!-- Transmission -->
                                    <div class="col">
                                        <div class="details-bg">                                
                                            <img src="assets/icons/abcars-icons/details-vehicle/transmision.png" width="32" height="32" alt="Icon Transmission Vehicle" />
                                            <span class="detail-text">Transmisión</span>
                                            <span class="detail-content fw-bold">{{ vehicle != undefined ? (vehicle.transmission | titlecase) : '' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid #707070;">

                <!-- Disclaimer -->
                <div class="row marginContentLeft">                
                    <div class="col-12 mb-4">
                        <h2 class="fw-bold fs-3">Legales</h2>
                        <div class="legal">
                            <p>Los precios mostrados aplican en M.N. e incluyen I.V.A. aplica para compras de contado y crédito (sujeto de aprobación).
                            <p>La compra de vehículos a cuenta, está sujeta a la revisión visual y mecánica dispuesta por Abcars y el acuerdo de ambas partes (comprador y vendedor).</p>
                            <p>El pago mejorando cualquier oferta de Agencia aplica en M.N. e incluirá I.V.A. y se realizará considerando ofertas de compra presentadas por el vendedor y que por escrito testifiquen a través de un documento certificado (sello) que fueron expedidas por empresas dedicadas a la comercialización de vehículos usados en México y que tengan una antigüedad no mayor a 20 días con respecto a la fecha de presentación. Consulta más detalles con tu asesor.</p>
                            <p>Vigencia al 31 de Marzo de 2023.</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>