<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="fs-5 fw-bold">Actividad</h3> 
        </div>
    </div>

    <!-- Activities -->
    <div class="row">
        <div class="col-12 mt-3">            
            <div class="overflow-auto" style="max-height: 500px;">            
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="bd-example">
                            <!-- Activity -->
                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>

                            <dl>
                                <div class="row">
                                    <div class="col-8">
                                        <dt class="text-truncate">Reservaste Nissan Versa 1.6 Sense Mt 2019</dt>
                                        <dd class="text-muted">Obtuviste <span class="fw-bold abcars-color">+50 pts</span></dd>
                                    </div>

                                    <div class="col-4">
                                        <dt>$3,000.00</dt>                               
                                        <dd>{{ date | date:'dd MMMM, yyyy' }}</dd>
                                    </div>
                                </div>                                
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
